{{title "Create Team"}}
<div class="container-fluid pl-0 pr-0">
    {{application-nav show_home=true}}
    <main class="col-sm-12 col-md-12 offset-sm-0 pl-0 pr-0">
        <div class="row main">
            <div class="col-md-6 col-sm-12 offset-md-0 slide full hidden-sm-down">
                {{team-create-overview user=model.user}}
            </div>
            <div class="col-md-6 col-sm-12 offset-md-0 slide full hidden-md-up">
                {{team-create-overview user=model.user}}
            </div>
            <div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{team-create-content plans=model.plans user=model.user roles=model.roles}} {{application-foot class="foot-hold text-center"}}</div>
            <div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{team-create-content plans=model.plans user=model.user roles=model.roles}} {{application-foot class="foot-hold text-center"}}</div>
        </div>
    </main>
</div>
