<div class="row main">
    {{#if (sprint-state-selected-contributors model.sprint.sprint_states model.state_id)}}
    <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{sprint-state-overview skillsets=model.skillsets sprint=model.sprint project=model.project selected-state=(sprint-state-selected model.sprint.sprint_states model.state_id) showing-state=(sprint-state-selected model.sprint.sprint_states model.state_id) contributors=true}}</div>
    <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{sprint-state-overview skillsets=model.skillsets sprint=model.sprint project=model.project selected-state=(sprint-state-selected model.sprint.sprint_states model.state_id) showing-state=(sprint-state-selected model.sprint.sprint_states model.state_id) contributors=true}}</div>
    {{else}}
    <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{sprint-state-overview skillsets=model.skillsets sprint=model.sprint project=model.project selected-state=(sprint-state-last-contributor model.sprint.sprint_states model.state_id) showing-state=(sprint-state-selected model.sprint.sprint_states model.state_id) contributors=false}}</div>
    <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{sprint-state-overview skillsets=model.skillsets sprint=model.sprint project=model.project selected-state=(sprint-state-last-contributor model.sprint.sprint_states model.state_id) showing-state=(sprint-state-selected model.sprint.sprint_states model.state_id) contributors=false}}</div>
    {{/if}}
    <div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{sprint-state-content sprint=model.sprint project=model.project selected-state=(sprint-state-selected model.sprint.sprint_states model.state_id) last-state=(sprint-state-last model.sprint.sprint_states) last-contributor-state=(sprint-state-last-contributor model.sprint.sprint_states model.state_id) refresh="refresh"}}</div>
    <div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{sprint-state-content sprint=model.sprint project=model.project selected-state=(sprint-state-selected model.sprint.sprint_states model.state_id) last-state=(sprint-state-last model.sprint.sprint_states) last-contributor-state=(sprint-state-last-contributor model.sprint.sprint_states model.state_id) refresh="refresh"}}</div>
</div>

