<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{profile-overview-contacts connections=model.connections requests=model.requests refresh="refresh"}}</div>
<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{profile-overview-contacts connections=model.connections requests=model.requests refresh="refresh"}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{profile-content-connections connections=model.connections requests=model.requests user=model.user}} {{application-foot class="foot-hold text-center"}}</div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{profile-content-connections connections=model.connections requests=model.requests user=model.user}} {{application-foot class="foot-hold text-center"}}</div>
