<div class="col-md-12 col-sm-12 offset-md-0 top hidden-sm-down pb-0">
    <div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
        <h3>{{user-profile-descriptor user_profile=model.user multiple_lines=true}}</h3>
        {{profile-overview-linkedin complete=model.user.title refresh="refresh"}}
    </div>
</div>
<div class="col-md-12 col-sm-12 offset-md-0 top hidden-md-up pb-0">
    <div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
        <h3>{{user-profile-descriptor user_profile=model.user multiple_lines=true}}</h3>
        {{profile-overview-linkedin complete=model.user.title refresh="refresh"}}
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
        <div class="row">
        <div class="col-md-7 col-sm-12 offset-md-0 mt-4 hidden-md-up">{{profile-content-notifications notifications=model.notifications params=model.params}} {{application-foot class="foot-hold text-center"}}</div>
        <div class="col-md-3 col-sm-12 mt-2 hidden-md-up flex-first">{{profile-content-notifications-settings user=model.user skillsets=model.skillsets roles=model.roles}}</div>

        <div class="col-md-7 col-sm-12 offset-md-0 hidden-sm-down">{{profile-content-notifications notifications=model.notifications params=model.params}} {{application-foot class="foot-hold text-center"}}</div>
        <div class="col-md-3 col-sm-12 hidden-sm-down">{{profile-content-notifications-settings user=model.user skillsets=model.skillsets roles=model.roles}}</div>
        </div>
    </div>
</div>
