<div class="main">
    <div class="container mb-5">
        {{user-logout}}
        {{user-login-oauth provider="github"}}
        {{user-login-oauth provider="linkedin"}}
        {{create-project repositories=model.repositories}}
        Projects
        {{#each model.projects as |project|}}
        <div>
        {{#link-to "develop.project" project.org project.id}}{{project.org}}/{{project.id}}-{{project.name}}{{/link-to}}
        </div>
        {{/each}}
        Teams
        {{create-team}}
        {{#each model.teams as |team|}}
        <div>
        {{team.name}}
        </div>
        {{/each}}
        

    </div>
    <div class="container flow profile">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {{profile-aggregates model=model}}
            </div>
        </div>
    </div>
</div>
