{{#if model.me}}
    {{title "My Profile"}}
{{else}}
    {{title "Anonymous"}}
{{/if}}
<div class="container-fluid pl-0 pr-0">
    <nav class="col-md-1 bg-faded sidebar hidden-sm-down">
        {{profile-menu-list me=model.me teams=model.teams user=model.user roles=model.roles}}
    </nav>
    <nav class="col-md-1 bg-faded sidebar hidden-md-up">
        {{profile-menu-list me=model.me teams=model.teams user=model.user roles=model.roles}} 
    </nav>
    <main class="col-sm-12 col-md-12 offset-sm-0 pl-0 pr-0">

        <div class="row main">
            {{outlet}}
        </div>
    </main>
</div>
