{{title "Anonymous"}}
<div class="container-fluid pl-0 pr-0">
    <nav class="col-md-1 bg-faded sidebar hidden-sm-down">
        {{profile-menu-list user=model.user}}
    </nav>
    <nav class="col-md-1 bg-faded sidebar hidden-md-up">
        {{profile-menu-list user=model.user}} 
    </nav>
    <main class="col-sm-12 col-md-12 offset-sm-0 pl-0 pr-0">

        <div class="row main">
            <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">{{profile-overview user=model.user skillsets=model.skillsets roles=model.roles comments=model.comments votes=model.votes params=model.params}}</div>
            <div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">{{profile-overview user=model.user skillsets=model.skillsets roles=model.roles comments=model.comments votes=model.votes params=model.params}}</div>

            {{outlet}}
        </div>
    </main>
</div>
