{{title "New Project"}}
<div class="container-fluid pl-0 pr-0">
    {{application-nav}}
    <main class="col-sm-12 col-md-12 offset-sm-0 pl-0 pr-0">
        <div class="row main">
            <div class="col-md-6 col-sm-12 offset-md-0 slide full hidden-sm-down">
                {{develop-create-overview}}
            </div>
            <div class="col-md-6 col-sm-12 offset-md-0 slide full hidden-md-up">
                {{develop-create-overview}}
            </div>
            <div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down">{{develop-create-content repositories=model.repositories refresh="refresh"}}</div>
            <div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up">{{develop-create-content repositories=model.repositories refresh="refresh"}}</div>
        </div>
    </main>
</div>
