{{title "Roadmap"}}

<div class="container-fluid pl-0 pr-0">
    {{application-nav teams=model.teams show_home=true}}
    {{develop-roadmap-overview class="top bg-nav text-center mb-0 hidden-xs-down"}}
    {{develop-roadmap-overview class="top bg-nav text-left mb-0 hidden-sm-up"}}
    {{develop-carousel projects=model.projects}}
    <main class="col-sm-12 col-md-12 offset-sm-0">
        <div class="row main">
            <div class="col-md-12 col-sm-12 p-0">
                {{outlet}}
            </div>
        </div>
    </main>
    {{application-foot class="foot-hold text-center"}}
</div>
