<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-sm-down">
    {{team-overview team=model.team user_teams=model.user_teams score_text="Shares"}}
</div>
<div class="col-md-5 col-sm-12 offset-md-0 slide hidden-md-up">
    {{team-overview team=model.team user_teams=model.user_teams score_text="Shares"}} 
</div>

<div class="col-md-6 col-sm-12 offset-md-6 still hidden-sm-down"><div class="full">{{user-team-list user_teams=model.user_teams default_seat=model.share_seat class="mt-4"}} {{application-foot class="foot-hold text-center"}}</div></div>
<div class="col-md-6 col-sm-12 offset-md-6 still hidden-md-up"><div class="full">{{user-team-list user_teams=model.user_teams default_seat=model.share_seat class="mt-4"}} {{application-foot class="foot-hold text-center"}}</div></div>
