{{#if (eq confirmed "1")}}
    <span class="text-capitalize">{{first_name}}</span> is interested in contacting you. Would you like to share your contact information?
    <span {{action "confirmeUserConnectionRequests" request_id 2}} class="badge badge-info rounded cursor-pointer">Share</span>
    <span {{action "confirmeUserConnectionRequests" request_id 3}} class="badge badge-warning rounded cursor-pointer">Reject</span>
{{else if (eq confirmed "2")}}
    Your are sharing contact information with <span class="text-capitalize">{{first_name}}</span>
    <span {{action "confirmeUserConnectionRequests" request_id 3}} class="badge badge-warning rounded cursor-pointer">Cancel</span>
{{else if (eq confirmed "3")}}
    Your are not sharing contact information with <span class="text-capitalize">{{first_name}}</span>
    <span {{action "confirmeUserConnectionRequests" request_id 2}} class="badge badge-info rounded cursor-pointer">Share</span>
{{/if}}

