{{#if (eq request.confirmed "1")}}
    {{#unless hide_profile}}
        {{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}
    {{else}}
        {{request.first_name}}
    {{/unless}}
    is interested in contacting you. Share your contact information?
    <button {{action "confirmeUserConnectionRequests" request.id 2}} class="btn btn-info rounded btn-sm">Accept</button>
    <button {{action "confirmeUserConnectionRequests" request.id 3}} class="btn btn-warning rounded btn-sm">Decline</button>
{{else if (eq request.confirmed "2")}}
    You are sharing contact information with 
    {{#unless hide_profile}}
        {{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}
    {{else}}
        {{request.first_name}}
    {{/unless}}
    <button {{action "confirmeUserConnectionRequests" request.id 3}} class="btn btn-warning rounded btn-sm">Cancel</button>
{{else if (eq request.confirmed "3")}}
    You are not sharing contact information with
    {{#unless hide_profile}}
        {{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}
    {{else}}
        {{request.first_name}}
    {{/unless}}
    <button {{action "confirmeUserConnectionRequests" request.id 2}} class="btn btn-info rounded btn-sm">Accept</button>
{{/if}}

