<div class="create rounded col-sm-4 offset-sm-4 col-8 offset-2 col-md-8 offset-md-2">
    <a {{action "showCreate"}}>{{#if displayCreate}}Cancel{{else}}Create Sprint{{/if}}</a>
    <div class="text-left">
        {{#if displayCreate}}

        {{#if errorMessage}}
        <div class="alert alert-warning rounded">{{errorMessage}}</div>
        {{/if}}
        <div class="form-group">
            <label>Title</label>
            {{input value=title placeholder="Briefly describe the request" class="form-control input-lg rounded"}}
        </div>

        <div class="form-group">
            <label>Description</label>
            {{textarea rows=5 value=description placeholder="Explain the request in detail" class="form-control input-lg rounded"}}
        </div>
        <button {{action "createSprint" project_id}} type="submit" class="btn btn-outline-secondary reversed btn-lg rounded">Save Sprint</button>

        {{/if}}
    </div>
</div>
