<ul class="nav nav-pills flex-column">
    {{#each model.sprints as |sprint|}}
    <li class="nav-item">
        {{#link-to "develop.project.sprint" sprint.id}}
        <div class="title">
            Sprint {{sprint.id}}
        </div>
        {{/link-to}}
        {{#link-to "develop.project.sprint" sprint.id}}
        <div class="description">
            {{sprint.title}}
        </div>
        {{/link-to}}
        <div class="summary text-truncate">       
            {{sprint.description}}
        </div>
        <small class="text-muted">
            {{moment-from-now sprint.created_at}}
        </small>
        {{#each sprint.sprint_states as |sprint_state index|}}

        {{/each}}

        {{#if sessionAccount.account.admin}}
        <div class="dropdown mt-3">
            <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transitions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each model.states as |state|}}
                <button class="dropdown-item" {{action "transition" sprint.id state.id}}>{{state.name}}</button>
                {{/each}}
            </div>
        </div>
        {{/if}}

    </li>
    {{/each}}
</ul>
