<div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">

    <div class="row text-left vertical-align">
        <div class="col-md-6 col-sm-12">
            <h2 class="name text-capitalize">{{model.project.org}} / {{model.project.name}}</h2>
            <div class="description">{{model.project.description}}</div>
            {{develop-overview-caption project=model.project}}
            <div class="about text-capitalize mb-0">Created {{moment-from-now model.project.created_at}}</div>
            <div class="about mb-0">Showing Sprints in {{#unless (eq model.state.name "any")}}the{{/unless}} <strong><span class="text-capitalize">{{model.state.name}} Phase</span></strong></div>
            <div class="about text-capitalize mb-0">{{model.state.description}}</div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row text-center">
                <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                    {{sprint-state-overview-score total=model.sprints.length title="Sprints"}}
                </div>
            </div>
        </div>
    </div>
</div>
