<nav class="col-sm-12 col-md-4 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item create">
            <a class="nav-link" {{action "showCreate"}}>{{#if displayCreate}}Cancel{{else}}Create{{/if}}</a>
        </li>
        {{#if displayCreate}}
        <li class="nav-item timeline p-4">
            {{#if errorMessage}}
            <div class="alert alert-warning rounded">{{errorMessage}}</div>
            {{/if}}
            <div class="form-group">
                <label>Title</label>
                {{input value=title placeholder="Briefly describe the request" class="form-control input-lg rounded"}}
            </div>                         

            <div class="form-group">           
                <label>Description</label>
                {{textarea value=description placeholder="Explain the request in detail" class="form-control input-lg rounded"}}
            </div>              
            <button {{action "createSprint"}} type="submit" class="btn btn-outline-secondary btn-lg rounded">Save Sprint</button>
        </li>
        {{/if}}
    </ul>

    <ul class="nav nav-pills flex-column">
        {{#each sortedEvents as |event|}}
        <li class="nav-item timeline">
            {{#if showingProject}}
            <div class="title">
                {{event.sprint.title}}
            </div>
            <div class="description">
                {{event.sprint.description}}
            </div>
            {{/if}}
            <div class="change">
                {{develop-timeline-compare event=event previous_event=(previous "event" event.after)}}
            </div>
            <small class="text-muted">
                {{moment-from-now event.created_at}}
            </small>
        </li>
        {{/each}}
    </ul>
</nav>
