<div class="list-group sprint">
    {{#each model.sprints as |sprint|}}
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start rounded">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{sprint.title}}</h5>
            <small>{{sprint.updated_at}}</small>
        </div>
        <small>{{sprint.description}}</small>
        <div class="dropdown">
            <button class="btn btn-outline-secondary rounded" {{action "join" sessionAccount.account.id state.id }}>Join</button>
            <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Transitions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each model.states as |state|}}
                <button class="dropdown-item" {{action "transition" sprint.id state.id}}>{{state.name}}</button>
                {{/each}}
            </div>
        </div>
    </a>
    {{/each}}
</div>
