<nav class="col-md-9 offset-md-3 navbar navbar-default navbar-toggleable-md navbar-inverse fixed-top bg-inverse develop">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h3 class="sprint-header mt-2">{{#if showingProject}}{{model.project.org}}/{{model.project.name}}{{else}}Sprint {{model.sprint.id}}{{/if}}</h3>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">


            {{#if showingProject}}
            <div class="dropdown mr-1">
                <button class="btn btn-outline-secondary rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stages
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {{#each model.states as |state|}}
                    <button class="dropdown-item">{{state.name}}</button>
                    {{/each}}
                </div>
            </div>
            {{else}}
            {{#link-to "develop.project" model.sprint.project.org model.sprint.project.id class="btn btn-outline-secondary rounded mr-1"}}Project Home{{/link-to}}
            {{/if}}
            
            {{user-logout tagName="li" class="cursor-pointer"}}
        </ul>
    </div>
</nav>
