<div class="footprint hidden-sm-down">Showing Sprints in {{#unless (eq model.state.name "any")}}the{{/unless}} <span class="text-capitalize">{{model.state.name}} Phase</span></div>
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h2 class="name text-capitalize">{{model.project.org}} / {{model.project.name}}</h2>
            <div class="description">{{model.project.description}}</div>
            {{develop-overview-caption project=model.project}}
            <div class="about text-capitalize">{{model.state.description}}</div>
            <div class="row">
                <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                    {{sprint-state-overview-score total=model.sprints.length title="Sprints"}}
                </div>
            </div>
            <div class="row ml-3 mr-3 mb-3 mt-0"> 
                <a class="btn btn-secondary mt-5 rounded col-sm-12 col-md-8 offset-md-2" target="_blank" href="https://github.com/{{org}}/{{model.project.name}}_{{model.project.id}}/tree/master">View on Github</a>
                {{#if session.isAuthenticated}}
                    <a class="btn btn-secondary btn-block rounded" {{action "showCreate"}}>{{#if displayCreate}}Cancel{{else}}Create Sprint Idea{{/if}}</a>
                    <div class="text-left mt-3">
                            {{#if displayCreate}}
                                <div class="card-deck">
                                    <div class="card rounded">
                                        <div class="card-block">
                                            {{develop-timeline-create project_id=model.project.id class="mt-2 col-sm-12 col-md-8 offset-md-2 pl-0 pr-0"}}
                                        </div>
                                        <div class="card-footer text-center">
                                            An idea can be a bug, improvement, task, or feature
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                    </div>
                {{else}}
                    <h4 class="about">{{#link-to "login"}}Sign in{{/link-to}} to create a new sprint idea</h4>
                {{/if}}
            </div>
        </div>
    </div>
</div>
