<div class="flow">
    <h2 class="text-capitalize">{{model.sprint.title}}</h2>

    <h4>{{model.sprint.description}}</h4>

    <div class="stage mt-2">
        {{develop-issue-state state=model.idea}}
    </div>

    {{#each model.sprint.sprint_states as |sprint_state index|}}
    <div class="stage">
        {{develop-issue-state state=sprint_state.state}}
        <div class="grid">
            {{#if (eq model.sprint.sprint_states.length (plus index 1))}}
            {{#unless sprint_state.contributors}}
            {{#unless sessionAccount.account.github}}
            {{user-login-github class="btn btn-outline-secondary rounded"}}
            {{else}}
            <button class="btn btn-outline-secondary rounded" {{action "join" model.sprint.project.id model.sprint.sprint_states }}>Join</button>        
            {{/unless}}
            {{else}}

            {{#each sprint_state.contributors as |contributor|}}

            <div class="box">
                <div class="point"></div>
                {{develop-contribute contributor=contributor branch=sprint_state.id project_id=model.sprint.project.id}}
            </div>

            {{/each}}

            {{/unless}}
            {{else}}

            {{#each sprint_state.contributors as |contributor|}}

            <div class="box">       
                <div class="point"></div>
                <a target="_blank" href="https://github.com/{{model.sprint.project.org}}/{{model.sprint.project.name}}/compare/{{sprint_state.sha}}...{{sprint_state.id}}_{{contributor.id}}">{{model.sprint.project.org}}/{{model.sprint.project.name}} branch {{sprint_state.id}}_{{contributor.id}}</a>
            </div>                                                                  

            {{/each}}         

            {{/if}}
        </div>

    </div>
    {{/each}}
</div>
