<h3 class="about section mb-3">Propose and build an idea that <strong>earns</strong> a hiring manager's attention</h3>
<div class="row">
    <div class="col-sm-6 col-md-3">
        {{stacked-icon value="fa-search" icon="fa-square" size="2" class="hidden-xs-down"}}  
        <h4 class="line">{{stacked-icon value="fa-search" icon="fa-square" size="1" class="hidden-sm-up d-inline"}} Find a job listing you're interested in</h4>
    </div>
    <div class="col-sm-6 col-md-3">
        {{stacked-icon value="fa-lightbulb-o" icon="fa-square" size="2" class="hidden-xs-down"}}
        <h4 class="line">{{stacked-icon value="fa-lightbulb-o" icon="fa-square" size="1" class="hidden-sm-up d-inline"}} You and others pitch a creative feature or improvement to a Wired7 project that <strong>uses all of the skills required</strong></h4>
    </div>
    <div class="col-sm-6 col-md-3">
        {{stacked-icon value="fa-check" icon="fa-square" size="2" class="hidden-xs-down"}}       
        <h4 class="line">{{stacked-icon value="fa-check" icon="fa-square" size="1" class="hidden-sm-up d-inline"}} The hiring manager selects the best pitch and <strong>approves the idea</strong> for development</h4>
    </div>
    <div class="col-sm-6 col-md-3">
        {{stacked-icon value="fa-trophy" icon="fa-certificate" size="2" class="hidden-xs-down"}}                 
        <h4 class="line">{{stacked-icon value="fa-trophy" icon="fa-square" size="1" class="hidden-sm-up d-inline"}} Propose solutions and review the work of others<strong> to demonstrate that you're the best</strong> candidate</h4>
    </div>
</div>
