{{#if comments}}
<div class="list-group rounded text-left">
{{#each (limited sortedComments count) as |comment|}}
    <div class="list-group-item rounded">
        {{#if comment.user_profile}}
        <h3 class="line">{{comment.user_profile.title}} in {{comment.user_profile.industry}} ({{comment.user_profile.location}})</h3>        
        {{/if}}
        <div class="line">{{comment.text}}</div>
        <small class="line text-muted">created {{moment-from-now comment.created_at}}</small>
    </div>
{{/each}}
</div>

<small class="more">
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than comments.length count)}}
    <a {{action "showAll" true}}>Show More Comments ( {{comments.length}} Total )</a>
    {{/if}}
    {{/if}}
</small>

{{/if}}
