{{textarea value=comment class="form-control input-lg rounded mt-2 mb-1" rows="1" placeholder="Your feedback"}}

<a class="d-inline-block pr-2 cursor-pointer" {{action "comment" contributor.id sprint_state.id}}><i class="fa fa-comment-o" aria-hidden="true"></i> Post Comment</a>
<a class="d-inline-block cursor-pointer" {{action "vote" contributor.id sprint_state.id}}><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Upvote {{#if contributor.votes.length}}({{contributor.votes.length}}){{/if}}</a>

{{#if sessionAccount.account.admin}}

{{#unless sessionAccount.account.github}}
{{#unless sprint_state.merged}}
{{user-login-github class="btn btn-outline-secondary rounded"}}
{{/unless}}
{{else}}
{{#if sprint_state.contributor_id}}
{{#unless sprint_state.merged}}
<a class="d-inline-block pl-2 cursor-pointer" {{action "merge" contributor.id sprint_state.id project}}><i class="fa fa-compress" aria-hidden="true"></i> Merge</a>
{{/unless}}
{{else}}
<a class="d-inline-block pl-2 cursor-pointer" {{action "judge" contributor.id sprint_state.id project}}><i class="fa fa-balance-scale" aria-hidden="true"></i> Judge</a>
{{/if}}
{{/unless}}

{{/if}}

