{{#if comments}}
<div class="list-group rounded text-left">
{{#each (limited sortedComments count) as |comment|}}
    <div class="list-group-item rounded">
        <div class="line">{{comment.text}}</div>
        <small class="text-muted">
            posted {{moment-from-now comment.created_at}}
             by {{#link-to "profile" comment.user_id}}{{#if comment.user_profile}}a {{user-profile-descriptor user_profile=comment.user_profile class="d-inline"}}{{else}}someone{{/if}}{{/link-to}}
        </small>
    </div>
{{/each}}
</div>

<small class="more">
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than comments.length count)}}
    <a {{action "showAll" true}}>Show More Comments ( {{comments.length}} Total )</a>
    {{/if}}
    {{/if}}
</small>

{{/if}}
