{{#link-to "develop.project.sprint" sprint.id}}
<div class="card mb-3 mr-2 ml-2 p-3 text-center rounded">
    <div class="text-left">
        <div class="icon pt-2">
            <div class="icon fa-stack fa-2x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa {{sprint_state.state.fa_icon}} fa-stack-1x fa-inverse"></i>
            </div>                                                                  
        </div>
        <div class="header pt-3 pb-1">
            <h3 class="card-title ml-2 mb-1 text-capitalize">{{sprint_state.state.name}}</h3>
            <h4 class="card-text ml-2">Sprint {{sprint.id}}</h4>
        </div>
    </div>
    <div class="card-text ml-1 mt-2 text-left">
        <p class="mb-0">{{sprint.title}}</p>
        <small class="text-muted">State changed {{moment-from-now sprint_state.created_at}}</small>
        <span class="badge badge-default rounded">
            Open 
        </span>
    </div>
</div>
{{/link-to}}   
