{{#if comments}}
<div class="list-group rounded text-left">

{{#if reviewComments}}


{{#each (limited reviewComments count) as |comment|}}
    <div class="list-group-item rounded">
        <div class="line"><strong>Review</strong></div>
        <div class="line">{{comment.text}}</div>
        <small class="text-muted">
        {{#if (eq comment.user_id sessionAccount.account.id)}}you {{/if}}
            posted {{moment-from-now comment.created_at}}
            {{#unless (eq comment.user_id sessionAccount.account.id)}}
             by {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}}
            {{/unless}}
        </small>
        {{#if session.isAuthenticated}}
        {{develop-issue-comments-upvote contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{develop-issue-report-offensive user_id=sessionAccount.account.id contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{/if}}
    </div>
{{/each}}
{{/if}}

{{#if explainComments}}
<div class="list-group-item rounded">
    <div class="line"><strong>Author's Explanation</strong></div>
    {{#each explainComments as |comment index|}}
        <div class="line">{{comment.text}}</div> 
        {{#if (eq explainComments.length (plus 1 index))}}
        <small class="text-muted">
            {{#unless (eq comment.user_id sessionAccount.account.id)}}
                - {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}}
            {{/unless}}
        </small>
        {{/if}}
    {{/each}}
</div>
{{/if}}


{{#each (limited sortedComments count) as |comment|}}
    <div class="list-group-item rounded">
        <div class="line">{{comment.text}}</div>
        <small class="text-muted">
        {{#if (eq comment.user_id sessionAccount.account.id)}}you {{/if}}
            posted {{moment-from-now comment.created_at}}
            {{#unless (eq comment.user_id sessionAccount.account.id)}}
             by {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}}
            {{/unless}}
        </small>
        {{#if session.isAuthenticated}}
        {{develop-issue-comments-upvote contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{develop-issue-report-offensive user_id=sessionAccount.account.id contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{/if}}
    </div>
{{/each}}
</div>

<small class="more">
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than sortedComments.length count)}}
    <a {{action "showAll" true}}>Show More Comments ( {{sortedComments.length}} Total )</a>
    {{/if}}
    {{/if}}
</small>

{{/if}}
