<div class="flow">
    <h2 class="text-capitalize">{{model.sprint.title}}</h2>

    <h4>{{model.sprint.description}}</h4>

    {{#each model.sprint.sprint_states as |sprint_state index|}}
    <div class="stage">
        <div class="header">
            <div class="icon circular text-center"><i class="fa {{sprint_state.state.fa_icon}} fa-fw fa-2x" aria-hidden="true"></i></div>
            <div class="info">
                <div class="name text-capitalize">{{sprint_state.state.name}}</div>
                <div class="description">{{sprint_state.state.description}}</div>
            </div>
        </div>


        {{#if (eq model.sprint.sprint_states.length (plus index 1))}}
        {{#unless sprint_state.contributors.0.repo}}
        {{#unless sessionAccount.account.github}}
        {{user-login-github class="btn btn-outline-secondary rounded"}}
        {{else}}
        <button class="btn btn-outline-secondary rounded" {{action "join" sessionAccount.account.id model.sprint.project.id model.sprint.sprint_states }}>Join</button>        
        {{/unless}}
        {{else}}
        Contribute to https://github.com/USERNAME/{{sprint_state.contributors.0.repo}}
        {{/unless}}
        {{/if}}

    </div>
    {{/each}}
</div>
