{{#if comments}}
<div class="list-group rounded text-left">

{{#if explainComments}} <!-- append to the top of the comments as a single comment so they always display / the author can explain his/her work -->
    <div class="list-group-item rounded blue-tint">
        {{#each explainComments as |comment index|}}
            <div class="line">{{comment.text}}</div> 
            {{#if (eq explainComments.length (plus 1 index))}}
            <small class="text-muted">
                Posted by 
                {{#if (eq sessionAccount.account.id user_profile.id)}}
                    you, the contributor
                {{else}}
                    the contributor, {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}}
                {{/if}}
            </small>
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#each (limited sortedComments count) as |comment|}}
    <div class="list-group-item rounded">
        <div class="line">{{comment.text}}</div>
        <small class="text-muted">
            {{#if comment.review}}
                Peer review posted
            {{else}}
                Posted
            {{/if}}
            by 
            {{#if (eq sessionAccount.account.id user_profile.id)}}
                you
            {{else}}
                {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}} {{moment-from-now comment.created_at}}
            {{/if}}
        </small>
        {{#if session.isAuthenticated}}
        {{develop-issue-comments-upvote contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{develop-issue-report-offensive user_id=sessionAccount.account.id contributor=contributor sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{/if}}
    </div>
{{/each}}
</div>

<small class="more">
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than sortedComments.length count)}}
    <a {{action "showAll" true}}>Show More Comments ( {{sortedComments.length}} Total )</a>
    {{/if}}
    {{/if}}
</small>

{{/if}}
