{{#if session.isAuthenticated}}
    {{#if displayCreate}}
        {{#if errorMessage}}
            <div class="alert alert-warning rounded text-center">{{errorMessage}}</div>
        {{/if}}

        <div class="form-group">
            <label>Title</label>
            {{input value=title placeholder="title of idea" class="form-control input-lg rounded"}}
        </div>

        <div class="form-group">
            <label>Description</label>
            {{textarea rows=2 value=description placeholder="explain the idea in more detail" class="form-control input-lg rounded"}}
        </div>

        {{#if projects}}
        <div class="dropdown btn-block rounded mb-3">
            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{#if project}}{{project.name}}{{else}}Project List{{/if}}
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each projects as |project|}}
                    <button class="dropdown-item" {{action "selectProject" project.id project}}><div class="title">{{project.org}}/{{project.name}}</div><small class="description text-muted">{{project.description}}</small></button>
                {{/each}}
            </div>
        </div>
        {{/if}}
    
        <button {{action "createSprint" project_id}} type="submit" class="btn btn-secondary btn-sm rounded">Create</button>
        <button {{action "showCreate"}} type="submit" class="btn btn-secondary btn-sm rounded">Cancel</button>
    {{else}}
        <a class="line" {{action "showCreate"}}>Pitch your own idea</a>
    {{/if}}
{{else}}
    {{#link-to "login"}}Sign in{{/link-to}} to pitch your own idea
{{/if}}
