{{#if comments}}
{{#each (limited sortedComments count) as |comment|}}
<div class="box box-nested">
    <div class="point circular"></div>
    <div class="comment">{{comment.text}} <em class="text-muted">- {{moment-from-now comment.created_at}}</em></div>
</div>
{{/each}}

<small>
{{#if showingAll}}
<a {{action "showAll" false}}>Show Less</a>
{{else}}
{{#if (greater-than comments.length count)}}
<a {{action "showAll" true}}>Show More Comments ( {{comments.length}} Total )</a>
{{/if}}
{{/if}}
</small>

{{/if}}
