<div class="flow">
    <h2 class="text-capitalize">{{model.sprint.title}}</h2>

    <h4>{{model.sprint.description}}</h4>

    <div class="stage mt-2">
        {{#if model.sprint.sprint_states}}
        {{develop-issue-state state=model.idea}}
        {{else}}
        {{develop-issue-state state=model.idea instruction=true}}
        {{/if}}
    </div>

    {{#each model.sprint.sprint_states as |sprint_state index|}}
    <div class="stage">
        {{#if (eq model.sprint.sprint_states.length (plus index 1))}}
        {{develop-issue-state state=sprint_state.state instruction=true}}
        {{else}}
        {{develop-issue-state state=sprint_state.state}} 
        {{/if}}

        <div class="grid pb-3">
            {{#if (eq model.sprint.sprint_states.length (plus index 1))}}
            {{#if sprint_state.state.contributors}}
            {{#unless sprint_state.contributors}}
            {{#unless sessionAccount.account.github}}
            {{user-login-github text=" to join"}}
            {{else}}
            <button class="btn btn-outline-secondary rounded" {{action "join" model.sprint.project.id model.sprint.sprint_states }}>Join</button>        
            {{/unless}}
            {{else}}

            {{#each sprint_state.contributors as |contributor|}}

            <div class="box">
                <div class="point circular"></div>
                {{develop-contribute contributor=contributor sprint_state=sprint_state project=model.sprint.project sprint=model.sprint}}
            </div>

            {{/each}}

            {{/unless}}
            {{/if}}
            {{else}}

            {{#each sprint_state.contributors as |contributor|}}

            <div class="box">       
                <div class="point circular"></div>
                {{#if (eq contributor.id sprint_state.contributor_id)}}<i class="fa fa-trophy" aria-hidden="true"></i> {{#if sprint_state.merged}}<span class="badge badge-default rounded">MERGED</span>{{else}}<span class="badge badge-default rounded">NOT MERGED</span>{{/if}}{{/if}} <a target="_blank" href="https://github.com/{{model.sprint.project.org}}/{{model.sprint.project.name}}/compare/{{sprint_state.sha}}...{{sprint_state.id}}_{{contributor.id}}">{{model.sprint.project.org}}/{{model.sprint.project.name}} branch {{sprint_state.id}}_{{contributor.id}}</a>
                {{develop-issue-comments comments=contributor.comments}}
                {{develop-issue-comment contributor=contributor sprint_state=sprint_state project=model.sprint.project.id class="mb-3 comments"}}
                {{#if (eq contributor.id sprint_state.contributor_id)}}
                    {{#unless sprint_state.merged}}
                        {{develop-contribute contributor=contributor sprint_state=sprint_state project=model.sprint.project sprint=model.sprint}}
                    {{/unless}}
                {{/if}}
            </div>                                                                  

            {{/each}}         

            {{/if}}
        </div>

    </div>
    {{/each}}
</div>
