{{#unless (eq a b)}}
{{#if (eq b  )}}
{{attribute}} <span class="badge badge-default rounded">{{a}}</span> added.
{{else}}
{{attribute}} <span class="badge badge-default rounded">{{b}}</span> changed to <span class="badge badge-default rounded">{{a}}</span>
{{/if}}
{{/unless}}
