{{#if notifications}}
    <div class="full">
        <div class="list-group rounded text-left">
            <div class="list-group-item active rounded">
                <h4>My Notifications</h4>
            </div>

            {{#each notifications as |notification|}}
                <div class="list-group-item rounded highlight-{{notification.read}}">
                    <h4 class="line">                
                        {{#if (eq notification.read false)}}
                            {{notification-read notification_id=notification.id class="d-inline"}}
                        {{/if}}
                        {{#link-to "develop.project.sprint.state" notification.project_org notification.project_id notification.sprint_id notification.sprint_state_id}}{{notification.sprint_name}}{{/link-to}} (<span class="text-uppercase">{{notification.project_org}}/{{notification.project_name}}</span>)</h4>
                    <p class="line">{{notification.subject}}</p>
                    <p class="line">{{notification.body}}</p>
                    {{#if notification.comment_body}}
                        <p class="line">{{notification.comment_body}}</p>
                    {{/if}}
                    <small class="line text-muted">{{moment-from-now notification.created_at}}</small>
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    <div class="vertical-align-hold">
        <div class="vertical-align-cell">
            <div class="overview">
                <div class="text-center">
                    <h3>No notifications</h3>
                </div>
            </div>
        </div>
    </div>
{{/if}}
