{{#if requests}}
    <div class="full">
        <div class="list-group rounded text-left">
            <div class="list-group-item active rounded">
                <h4>My Contact Requests</h4>
            </div>
        
            {{#each requests as |request|}}
                {{#unless (eq request.id 0)}}
                <div class="list-group-item rounded">
                    <p class="line">    
                        {{#if (eq request.read false)}}
                            {{connection-read request=request class="d-inline"}}            
                            <span class="text-capitalize">{{#link-to "profile" request.user_id}}{{request.first_name}}{{/link-to}}</span> is interested in contacting you. Would you like to share your contact information?
                        {{else}}
                            {{connection-confirm request=request class="d-inline"}}
                        {{/if}}
                    </p>
                </div>
                {{/unless}}
            {{/each}}

        </div>
    </div>
{{else}}
    <div class="vertical-align-hold">
        <div class="vertical-align-cell">
            <div class="overview">
                <div class="text-center">
                    <h3>No contact requests</h3>
                </div>
            </div>
        </div>
    </div>
{{/if}}
