<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            {{#if me}}
            <h1 class="name text-capitalize">{{sessionAccount.account.first_name}}</h1>
            {{else}}
            <h1 class="name text-capitalize"><i class="fa fa-fw fa-2x fa-user-secret" aria-hidden="true"></i></h1>
            {{/if}}
            <h3 class="description">Filter {{aggregate}} by Role and Skillset</h3>
            {{#if me}}
                {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
                {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
            {{else}}
                {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
                {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
            {{/if}}
            <div class="row">
                <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4"> 
                    {{sprint-state-overview-score total=items.meta.count title=aggregate}}
                </div>
            </div>
        </div>
    </div>
</div>

