
    <div class="full">
        <h4 class="about section">My Notifications</h4>
        <div class="list-group rounded text-left">
            {{#if notifications}}
            {{#each notifications as |notification|}}
                <div class="list-group-item rounded highlight-true">                    
                    {{#if (eq notification.notification.name "comment")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            commented on <strong>Proposal {{notification.contributor_id}}</strong> of the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} 
                            of <strong>{{notification.sprint.title}}</strong>
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "sprint comment")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            commented on sprint proposal for 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state.id "-" notification.sprint_state.state_id.name)}}{{notification.sprint.title}}{{/link-to}} 
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "vote")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            voted for <strong>Proposal {{notification.contributor_id}}</strong> on the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} 
                            of 
                            <strong>{{notification.sprint.title}}</strong>
                        </p>
                    {{/if}}
                   
                    {{#if (eq notification.notification.name "job")}}
                        <p class="line">
                            <i class="fa fa-briefcase fa-fw" aria-hidden="true"></i> {{notification.job_team_name}} at <strong>{{notification.job_company}}</strong> started a search for a 
                            {{#link-to "develop.roadmap.job" (concat notification.job_id "-" notification.job_title "-at-" notification.job_company)}}{{notification.job_title}}{{/link-to}}.  
                            <br>
                            If you're interested, 
                            {{#link-to "develop.roadmap.job" (concat notification.job_id "-" notification.job_title "-at-" notification.job_company) class="text-lowercase"}} propose an idea for a Wired7 project{{/link-to}} that earns the hiring manager's attention.
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "new")}}
                        <p class="line">
                            <i class="fa fa-lightbulb-o fa-fw" aria-hidden="true"></i> {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            proposed a new sprint idea 
                            ({{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}) 
                            for the 
                            {{#link-to "develop.roadmap.job" (concat notification.job_id "-" notification.job_title "-at-" notification.job_company)}}{{notification.job_title}}{{/link-to}} 
                            job listing at <strong>{{notification.job_company}}</strong> using 
                            {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "transition")}}
                        <p class="line">
                            <strong>{{notification.sprint.title}}</strong>
                            transitioned to the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state_id "-" notification.state_id.name)}}{{notification.state_id.name}} phase{{/link-to}}.  
                            <br>
                            {{notification.state_id.instruction}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "winner")}}
                        <p class="line">
                            <i class="fa fa-trophy fa-fw" aria-hidden="true"></i> <strong>Proposal {{notification.contributor_id}}</strong> for the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase {{/link-to}}
                            of <strong>{{notification.sprint.title}}</strong> was selected for merge into 
                            {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "comment vote")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            agrees with a comment from
                            {{#link-to "profile" notification.user_profile_comment_vote.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile_comment_vote class="d-inline"}}{{/link-to}}
                            on the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} 
                            of <strong>{{notification.sprint.title}}</strong>
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment_vote.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "sprint comment vote")}} <!-- no next sprint state -->
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            agrees with a comment from
                            {{#link-to "profile" notification.user_profile_comment_vote.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile_comment_vote class="d-inline"}}{{/link-to}}
                            on the sprint proposal for 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state.id "-" notification.sprint_state.state_id.name)}}{{notification.sprint.title}}{{/link-to}} 
                        </p>                                                                                                                                                                                                                                                    <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment_vote.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "sprint vote")}} <!-- no next sprint state -->
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}} likes the 
                            {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}} 
                            sprint proposal for 
                            {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "deadline")}}
                        <p class="line">
                            <i class="fa fa-hourglass-half fa-fw" aria-hidden="true"></i> We've set a deadline for the 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state_id "-" notification.state_id.name)}}{{notification.state_id.name}} phase{{/link-to}} 
                            of <strong>{{notification.sprint.title}}</strong>.
                            <br>
                            Three or more solutions have already been proposed.
                            <br>
                            Contribute in the next 48 hours to showcase your talent!
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "peer review")}}
                        <p class="line">
                            <i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i> The deadline for the {{notification.state_id.name}} phase of <strong>{{notification.sprint.title}}</strong> has arrived!
                            <br>We've selected 
                            {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state_id "-" notification.state_id.name) class="text-lowercase"}} two solution proposals for you to review{{/link-to}} 
                            before we invite all users to provide feedback.
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "comment offensive")}}
                        <p class="line">
                            Someone has flagged a comment from 
                            {{#link-to "profile" notification.user_profile_comment_vote.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile_comment_vote class="d-inline"}}{{/link-to}}
                            on the 
                            {{#if notification.next_sprint_state}}
                                {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}}
                            {{else}}
                                {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state.id "-" notification.sprint_state.state_id.name)}}{{notification.sprint_state.state_id.name}} phase{{/link-to}} 
                            {{/if}}
                            of {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}.
                            <br>The Wired7 ATeam will review it.
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment_vote.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}


                    <small class="line text-muted">
                    
                        {{moment-from-now notification.created_at}}
                    
                    </small>
                </div>
            {{/each}}
            {{application-paging-same-page page=params.page last=notifications.length count=notifications.meta.count class="text-right"}}
            {{else}}
                <div class="list-group-item rounded highlight-false">
                    <h3 class="line">Welcome {{sessionAccount.account.first_name}}</h3>
                    <p class="line mt-3">We're excited you're here.  This is where notifications will display once you opt in to different roles and skillsets. Feel free to return to the {{#link-to "welcome" (query-params section="")}}Wired7 Overview{{/link-to}} for more on how this all works.</p>
                    <p class="line"></p>
                </div>
            {{/if}}
        </div>
    </div>
