{{#if notifications}}
    <div class="full">
        <h3>Notifications</h3>

        {{#each notifications as |notification|}}
            <div class="sprint read-{{notification.read}} rounded">
                {{#if (eq notification.read false)}}
                    {{notification-read notification_id=notification.id}}
                {{/if}}
                <div class="title">{{#link-to "develop.project.sprint.state" notification.project_org notification.project_id notification.sprint_id notification.sprint_state_id}}{{notification.sprint_name}}{{/link-to}} (<span class="text-uppercase">{{notification.project_org}}/{{notification.project_name}}</span>)</div>
                <div class="description">
                    {{notification.body}}
                </div>
                <div class="date text-muted">{{moment-from-now notification.created_at}}</div>
            </div>
        
        {{/each}}    
    </div>
{{else}}
    <div class="vertical-align-hold">
        <div class="vertical-align-cell">
            <div class="overview">
                <div class="text-center">
                    <h3>No notifications</h3>
                </div>
            </div>
        </div>
    </div>
{{/if}}
