
    <div class="full">
        <h4 class="about section">My Notifications</h4>
        <div class="list-group rounded text-left">
            {{#if notifications}}
            {{#each notifications as |notification|}}
                <div class="list-group-item rounded highlight-{{notification.read}}">                    
                    {{#if (eq notification.notification.name "comment")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            commented on the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} of {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "vote")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            voted on the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} of {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}
                        </p>
                    {{/if}}
                   
                    {{#if (eq notification.notification.name "new")}}
                        <p class="line">
                            {{#link-to "profile" notification.user_profile.id}}{{user-profile-descriptor with_a=true user_profile=notification.user_profile class="d-inline"}}{{/link-to}}
                            created a new sprint ({{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}) for {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "transition")}}
                        <p class="line">
                            {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}} transitioned to the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.sprint_state_id "-" notification.state_id.name)}}{{notification.state_id.name}} phase{{/link-to}}.  {{notification.state_id.instruction}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.notification.name "winner")}}
                        <p class="line">
                            A winning proposal for the {{notification.next_sprint_state.state_id.name}} phase of {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.sprint.title}}{{/link-to}} was selected for merge into {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    <small class="line text-muted">
                    
                        {{#if (eq notification.read false)}}{{notification-read notification_id=notification.id class="d-inline"}}{{/if}}
                        {{moment-from-now notification.created_at}}
                    
                    </small>
                </div>
            {{/each}}
            {{application-paging-same-page page=params.page last=notifications.length count=notifications.meta.count class="text-right"}}
            {{else}}
                <div class="list-group-item rounded highlight-false">
                    <h3 class="line">Welcome to Wired7 {{sessionAccount.account.first_name}}</h3>
                    <p class="line">Wired7 makes it easy for development team stakeholders to contribute to projects and receive legitimate feedback on their work with no strings attached.  {{#if (or (or (eq sessionAccount.account.seat_id.name "member") (eq sessionAccount.account.seat_id.name "owner")) sessionAccount.account.admin)}}Use it to evaluate candidates up front, before you invest time in the interview process.{{else}} Use it to learn, grow, or get noticed.{{/if}}</p>  
                
                    {{#if (or (or (eq sessionAccount.account.seat_id.name "member") (eq sessionAccount.account.seat_id.name "owner")) sessionAccount.account.admin)}} 
                        <p class="line">Invite candidates through your organization's team to get started{{#if (or (eq sessionAccount.account.seat_id.name "owner") sessionAccount.account.admin)}}. If you're the first user in your organization, {{#link-to "team.new"}}create a team{{/link-to}}.{{/if}}</p>
                    {{else}}
                        <p class="line">{{#link-to "me.overview"}}Complete your profile{{/link-to}} to get started</p>
                    {{/if}}
                    <p class="line mt-3">Feel free to return to the {{#link-to "welcome"}}Wired7 Overview{{/link-to}} for more information</p>
                    <p class="line"></p>
                </div>
            {{/if}}
        </div>
    </div>
