        {{#unless (eq user_id sessionAccount.account.id)}}
            {{#unless (or (greater-than manager.length 0) (greater-than recruiter.length 0))}}
                <div class="mb-3">
                {{#if (eq request.id 0)}}
                    <button class="btn btn-info btn-sm rounded" {{action "request" user_id}}>Send Contact Request</button>
                    <div class="about">
                        <small>Note: this will automatically share your contact information with this user</small>
                    </div>
                {{else}}
                    {{#if (eq request.contact_id sessionAccount.account.id)}}
                        <div class="about">This user would like to contact you</div>
                        <button class="btn btn-info btn-sm rounded" {{action "accept" user_id}}>Accept Contact Request</button>
                    {{else}}
                        {{#if (eq request.confirmed "1")}}
                            <button class="btn btn-warning btn-sm rounded" disabled>Contact Request Sent</button>
                        {{else if (eq request.confirmed "3")}}
                            <button class="btn btn-danger btn-sm rounded" disabled>Request Declined</button>
                        {{else if (eq request.confirmed "2")}}
                            <button class="btn btn-success btn-sm rounded" disabled>Request Accepted</button> 
                        {{/if}}
                    {{/if}}
                {{/if}}
                </div>
            {{/unless}}
        {{/unless}}
