<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            {{#if me}}
            <h1 class="name text-capitalize">{{sessionAccount.account.first_name}}</h1>
            {{else}}
            <h1 class="name text-capitalize"><i class="fa fa-fw fa-2x fa-user-secret" aria-hidden="true"></i></h1>
            {{/if}}
            <h3 class="description">{{user-profile-descriptor user_profile=user}}</h3>
            <div class="about text-capitalize">Joined {{moment-from-now user.created_at}}</div>
            {{#if me}}
                <div class="text-left">
                    {{profile-overview-linkedin complete=user.title refresh="refresh"}}
                    {{profile-overview-skillsets-roles-instruction type="skillsets" text="to be notified of relevant events" items=skillsets}}
                    {{profile-overview-skillsets-roles-instruction type="roles" text="to be notified of relevant contribution opportunities" items=roles}}
                </div>
                <h4 class="about section text-capitalize">Your Skillsets</h4>
                {{profile-overview-skillsets-roles user=user items=skillsets type="skillset" class="skillsets"}}
                <div class="about section text-capitalize">Your Roles</div>
                {{profile-overview-skillsets-roles user=user items=roles type="role" class="skillsets"}}
            {{/if}}
            <h4 class="about section text-capitalize">Performance by Role and Skillset</h4>
            {{#if me}}
                {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
                {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
            {{else}}
                {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
                {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
            {{/if}}
            <div class="row">
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=comments.length title="Comments Posted" block="block"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=votes.length title="Votes Cast" block="block"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=contributors.length title="Solutions" block="block"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=comments_received.length title="Comments Received" block="block"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=votes_received.length title="Votes Received" block="block"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=contributors_received.length title="Winning Solutions" block="block"}}
                </div>
            </div>
        </div>
    </div>
</div>

