
{{#each model.states as |state|}}
<div class="stage">
    {{develop-issue-state state=state}}
    {{#if state.contributors}}
    <div class="grid pb-3">

        {{profile-stats aggregate=model.contributors.author state=state description="Contributions"}}

        {{profile-stats aggregate=model.contributors.receiver state=state description="Selected Contributions"}}

        {{profile-stats aggregate=model.comments.author state=state description="Comments Contributed"}}

        {{profile-stats aggregate=model.comments.receiver state=state description="Comments Received"}}

        {{profile-stats aggregate=model.votes.author state=state description="Votes Cast"}}

        {{profile-stats aggregate=model.votes.receiver state=state description="Votes Received"}}

    </div>
    {{/if}}
</div>
{{/each}}

