<ul class="nav nav-pills flex-column timeline">

    <li class="logo"></li>  

    {{#unless session.isAuthenticated}}
        <div class="menu">
            {{#link-to "login" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <i class="fa fa-fw fa-sign-in"></i>Sign In
            {{/link-to}}
        </div>
    {{else}}
        <div class="menu">
            {{#link-to "me" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
            <i class="fa fa-fw fa-user"></i>{{sessionAccount.account.first_name}}
            {{/link-to}}
        </div>

        {{#if me}}

            {{#link-to "me.notifications" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-paper-plane-o"></i>
                </div>
                Notifications
            {{/link-to}}

            {{#link-to "me.overview" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-sort-amount-desc"></i>
                </div>
                Profile 
            {{/link-to}}

            {{#link-to "me.connections" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-handshake-o"></i>
                </div>
                Contacts
            {{/link-to}}

            {{#if teams}}
                <li {{action "displayTeams"}} class="cursor-pointer nav-item text-center text-capitalize">
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-users"></i>
                    </div>
                    {{#if showTeams}}Hide{{else}}Show{{/if}} Teams
                </li>
            {{/if}}

            {{#if showTeams}}
            {{#each teams as |team|}}
            {{#link-to "team.select" team.id tagName='li' href=false class="cursor-pointer nav-item text-left text-capitalize nested" }}
                {{team.name}}
            {{/link-to}}
            {{/each}}
            {{/if}}

            {{#if (or sessionAccount.account.admin sessionAccount.account.owner)}}
                {{#link-to "team" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-user-plus"></i>
                    </div>
                    Create Team
                {{/link-to}}
            {{/if}}

            {{#if sessionAccount.account.admin}}
                {{#link-to "develop.new" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-fire"></i>
                    </div>
                    Create Project
                {{/link-to}}
            {{/if}}

        {{else}}
            {{#unless (eq user.id sessionAccount.account.id)}}
                {{#link-to "profile.requests" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                    <div class="icon hidden-sm-down">
                        <i class="fa fa-fw fa-2x fa-user-plus"></i>
                    </div>
                    Request Contact
                {{/link-to}}
            {{/unless}}

            {{#link-to "profile.overview" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="icon hidden-sm-down">
                    <i class="fa fa-fw fa-2x fa-sort-amount-desc"></i>
                </div>
                Overview
            {{/link-to}}
        
        {{/if}}

        {{user-logout}}

    {{/unless}}

    {{application-foot}}
</ul>
