{{#if requests}}
    <div class="full">
        <div class="list-group rounded text-left">
            <div class="list-group-item active rounded">
                <h4>My Contact Requests</h4>
            </div>
        
            {{#each requests as |request|}}
                <div class="list-group-item rounded">
                    <p class="line">    
                        {{#if (eq request.read false)}}
                            {{connection-read request_id=request.id class="d-inline"}}            
                            {{request.user_name}} is interested in contacting you. Would you like to share your contact information?
                        {{else}}
                            {{connection-confirm request_id=request.id confirmed=request.confirmed user_name=request.user_name class="d-inline"}}
                        {{/if}}
                    </p>
                </div>
            {{/each}}

        </div>
    </div>
{{else}}
    <div class="vertical-align-hold">
        <div class="vertical-align-cell">
            <div class="overview">
                <div class="text-center">
                    <h3>No contact requests</h3>
                </div>
            </div>
        </div>
    </div>
{{/if}}
