<div class="full">

        {{profile-overview-feedback user=user me=me params=params items=comments metric="comments posted" route="comments"}}

        {{profile-overview-feedback user=user me=me params=params items=votes metric="votes cast" route="votes"}}

        {{profile-overview-feedback user=user me=me params=params items=contributors metric="solutions proposed" route="contributions"}}

        {{profile-overview-feedback user=user me=me params=params items=comments_received metric="comments received" route="comments-received"}}

        {{profile-overview-feedback user=user me=me params=params items=votes_received metric="votes received" route="votes-received"}}

        {{profile-overview-feedback user=user me=me params=params items=contributors_received metric="winning solutions" route="contributions-selected"}}

</div>
