
    <div class="full">
        <h4 class="about section">My Notifications</h4>
        <div class="list-group rounded text-left">
            {{#if notifications}}
            {{#each notifications as |notification|}}
                <div class="list-group-item rounded highlight-{{notification.read}}">                    
                    {{#if (eq notification.diff "comment")}}
                        <p class="line">
                            {{#if notification.user_profile.title}}{{#link-to "profile" notification.user_profile.id}}A {{user-profile-descriptor user_profile=notification.user_profile class="d-inline"}}{{/link-to}}{{else}}{{#link-to "profile" notification.user_profile.id}}Someone{{/link-to}}{{/if}} commented on the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} of {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}
                        </p>
                        <p class="line quotation">
                            <i class="fa fa-fw fa-1x fa-quote-left" aria-hidden="true"></i> {{notification.comment.text}} <i class="fa fa-fw fa-1x fa-quote-right" aria-hidden="true"></i>
                        </p>
                    {{/if}}

                    {{#if (eq notification.diff "vote")}}
                        <p class="line">
                            {{#if notification.user_profile.title}}{{#link-to "profile" notification.user_profile.id}}A {{user-profile-descriptor user_profile=notification.user_profile class="d-inline"}}{{/link-to}}{{else}}{{#link-to "profile" notification.user_profile.id}}Someone{{/link-to}}{{/if}} voted on the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.next_sprint_state.state_id.name}} phase{{/link-to}} of {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}
                        </p>
                    {{/if}}
                   
                    {{#if (eq notification.diff "new")}}
                        <p class="line">
                            {{#if notification.user_profile.title}}{{#link-to "profile" notification.user_profile.id}}A {{user-profile-descriptor user_profile=notification.user_profile class="d-inline"}}{{/link-to}}{{else}}{{#link-to "profile" notification.user_profile.id}}Someone{{/link-to}}{{/if}} created a new sprint ({{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}}) for {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.diff "transition")}}
                        <p class="line">
                            {{#link-to "develop.project.sprint" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title)}}{{notification.sprint.title}}{{/link-to}} transitioned to the {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.sprint_state.state_id.name}} phase{{/link-to}}.  {{notification.sprint_state.state_id.instruction}}
                        </p>
                    {{/if}}

                    {{#if (eq notification.diff "winner")}}
                        <p class="line">
                            A contribution from the {{notification.next_sprint_state.state_id.name}} phase of {{#link-to "develop.project.sprint.state" (concat notification.project.id "-" notification.project.org "-" notification.project.name) (concat notification.sprint.id "-" notification.sprint.title) (concat notification.next_sprint_state.id "-" notification.next_sprint_state.state_id.name)}}{{notification.sprint.title}}{{/link-to}} was selected for merge into {{#link-to "develop.project" (concat notification.project.id "-" notification.project.org "-" notification.project.name) class="text-uppercase"}}{{notification.project.org}} / {{notification.project.name}}{{/link-to}}
                        </p>
                    {{/if}}

                    <small class="line text-muted">
                    
                        {{#if (eq notification.read false)}}{{notification-read notification_id=notification.id class="d-inline"}}{{/if}}
                        {{moment-from-now notification.created_at}}
                    
                    </small>
                </div>
            {{/each}}
            {{application-paging-same-page page=params.page last=notifications.length count=notifications.meta.count class="text-right"}}
            {{else}}
                <div class="list-group-item rounded highlight-false">
                    <h3 class="line">Welcome to Wired7!</h3>
                    <p class="line">We designed our platform to make it easy for development team stakeholders to contribute to projects and receive legitimate feedback on their work with no strings attached.  Use the platform to learn, grow, or get noticed.</p>  
                    <p class="line">Here's how it works:</p>
                    <li class="line">Your profile is public but <span class="text-warning"><strong>anonymous</strong></span>.  It displays your name and other non-specific data that you add but hides your name when viewed by other users.</li>
                    <li class="line">We use the information you add to your profile to notify you of <span class="text-warning"><strong>sprint</strong></span> events you might be interested in.</li>
                    <li class="line">A <span class="text-warning"><strong>sprint</strong></span> is an idea for a specific project that moves through the phases of the software development lifecycle.  You and others can propose solutions to any phase of a sprint and give feedback for proposals.</li> 
                    <li class="line">The project owner can select a winning proposal and merge it into the project.</li>
                    <li class="line">As you propose solutions to sprints, the feedback that you receive from other users will populate on your profile.  We tag all feedback with <span class="text-warning"><strong>anonymous</strong></span> high-level information about users to provide a basic idea of the professional experience of the reviewer.</li>
                    <p class="line"></p>
                </div>
            {{/if}}
        </div>
    </div>
