<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            {{#if me}}
            <h1 class="name text-capitalize">{{sessionAccount.account.first_name}}</h1>
            {{else}}
            <h1 class="name text-capitalize"><i class="fa fa-fw fa-2x fa-user-secret" aria-hidden="true"></i></h1>
            {{/if}}
            <h3 class="description">{{user-profile-descriptor user_profile=user multiple_lines=true}}</h3>
            <div class="about text-capitalize">Joined {{moment-from-now user.created_at}}</div>
            {{#if me}}

                {{profile-overview-linkedin complete=user.title refresh="refresh"}}
                
                {{profile-overview-skillsets-roles-instruction type="roles" text="to subscribe to relevant contribution opportunities" items=roles}}
                {{profile-overview-skillsets-roles namespace="users/me" user=user items=roles type="role" class="skillsets"}}
              
                {{profile-overview-skillsets-roles-instruction type="skillsets" text="to subscribe to specific interests" items=skillsets}}
                {{profile-overview-skillsets-roles namespace="users/me" user=user items=skillsets type="skillset" class="skillsets"}}
            {{else}}
                {{profile-overview-skillsets-roles-list items=roles type="role" class="skillsets"}}
                {{profile-overview-skillsets-roles-list items=skillsets type="skillset" class="skillsets"}}
            {{/if}}

            <div class="row">
                {{#unless (or (greater-than manager.length 0) (greater-than recruiter.length 0))}} 
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=contributors_received.meta.count title="Winning Solutions"}}
                    </div>
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=comments_received.meta.count title="Comments Received"}}
                    </div>
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=votes_received.meta.count title="Votes Received"}}
                    </div>
                {{/unless}}
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=comments.meta.count title="Comments Posted"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=votes.meta.count title="Votes Cast"}}
                </div>
                {{#unless (or (greater-than manager.length 0) (greater-than recruiter.length 0))}}
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=contributors.meta.count title="Solutions Proposed"}}
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>

