{{#if roles}}
<h4 class="about section">Filter by Role</h4>
<div class="bg-nav rounded mb-4 p-3">
    {{#if me}}
        {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
    {{else}}
        {{profile-overview-skillsets-roles-stats items=roles user_id=user.id type="role_id" params=params class="skillsets mb-1"}}
    {{/if}}
</div>
{{/if}}

{{#if skillsets}}
<h4 class="about section">Filter by Skillset</h4>
<div class="bg-nav rounded mb-4 p-3">
    {{#if me}}
        {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
    {{else}}
        {{profile-overview-skillsets-roles-stats items=skillsets user_id=user.id type="skillset_id" params=params class="skillsets"}}
    {{/if}} 
</div>
{{/if}}
