<div class="full">
    <div class="about section">Comments Posted</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=comments}}
    </div>

    <div class="about section mt-2">Votes Cast</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=votes}}
    </div>

    <div class="about section">Solutions Proposed</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=contributors}}
    </div>

    <div class="about section">Comments Received</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=comments_received}}
    </div>

    <div class="about section mt-2">Votes Received</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=votes_received}}
    </div>

    <div class="about section">Winning Solutions</div>
    <div class="list-group rounded text-left">
        {{profile-overview-feedback items=contributors_received}}
    </div>

</div>
