{{#if connections requests}}
<div class="full">

    <h4 class="about section">My Contacts and Contact Requests</h4>

    <div class="list-group rounded text-left">
        {{#each connections as |connection|}}
        <div class="list-group-item rounded highlight-{{notification.read}}">
            <h4 class="line text-capitalize">
                {{#if (eq connection.contact_id sessionAccount.account.id)}}
                {{#link-to "profile" connection.user_id}}{{connection.first_name}} {{connection.last_name}}{{/link-to}}
                {{else}}
                {{#link-to "profile" connection.contact_id}}{{connection.first_name}}
                {{connection.last_name}}{{/link-to}}
                {{/if}}
            </h4>
            <p class="line"><span class="text-muted">E:</span> {{connection.email}}</p>
            <small class="line text-muted">{{moment-from-now connection.created_at}}</small>
        </div>
        {{#unless (eq connection.id 0)}}
        <div class="list-group-item rounded">
            <p class="line">
                {{#if (eq connection.read false)}}
                {{connection-read request=connection class="d-inline"}}
                <span class="text-capitalize">{{#link-to "profile" connection.user_id}}{{connection.first_name}}{{/link-to}}</span>
                is interested in contacting you. Would you like to share your contact information?
                {{else}}
                {{connection-confirm request=connection class="d-inline"}}
                {{/if}}
            </p>
        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>
{{else}}
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview">
            <div class="text-center">
                <h3>No contacts and contact requests</h3>
            </div>
        </div>
    </div>
</div>
{{/if}}
    

