<div class="full">

        {{profile-overview-feedback items=comments metric="comments posted"}}

        {{profile-overview-feedback items=votes metric="votes cast"}}

        {{profile-overview-feedback items=contributors metric="solutions proposed"}}

        {{profile-overview-feedback items=comments_received metric="comments received"}}

        {{profile-overview-feedback items=votes_received metric="votes received"}}

        {{profile-overview-feedback items=contributors_received metric="winning solutions"}}

</div>
