{{#each-in (limited values count) as |key model|}}
<div class="box box-nested">
    <div class="point circular"></div>
    {{#link-to "develop.project.sprint" model.sprint_state.sprint.project.id model.sprint_state.sprint.id}}
    {{model.sprint_state.sprint.project.org}}/{{model.sprint_state.sprint.project.name}} Sprint {{model.sprint_state.sprint.id}} 
    {{/link-to}}
    {{#if model.text}}
    <span class="comment">
        {{model.text}} - <em class="text-muted">{{moment-from-now model.created_at}}</em>
    </span>
    {{/if}}
</div>
{{/each-in}}

<small>
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than values.length count)}}
    <a {{action "showAll" true}}>Show More</a>
    {{/if}}
    {{/if}}
</small>
