{{#each sprints as |sprint index|}}
    {{#if (greater-than count index)}}
    <div class="inner">
        {{application-error error=errorMessage}}
        <div class="line">
            <div class="icon">{{#if (eq job.sprint_id sprint.id)}}{{stacked-icon value="fa-check" icon="fa-circle" size="1" class="d-inline"}}{{else}}{{stacked-icon value="fa-lightbulb-o" icon="fa-circle" size="1" class="d-inline"}}{{/if}}</div>
            {{#link-to "develop.project.sprint" sprint.project_id sprint.id}}{{sprint.title}}{{/link-to}}
        </div>
        <div class="line">{{sprint.description}}</div>
        {{#if (eq job.sprint_id sprint.id)}}<div class="line about mb-0 mt-1"><i><strong>{{job.team_name}}</strong> has selected this idea for development</i></div>{{/if}}
        <small class="line text-muted">Proposed {{moment-from-now sprint.created_at}} for {{#link-to "develop.project" (concat sprint.project.id "-" sprint.project.org "-" sprint.project.name) class="text-uppercase"}}{{sprint.project.org}} / {{sprint.project.name}}{{/link-to}}</small>
        {{#unless job.sprint_id}}
        {{#if on_team}}
        <div class="line">
            <button class="btn btn-outline-secondary btn-sm d-inline-block mr-1 rounded mt-2" {{action "select" job.team_id job.id sprint.id}}><i class="fa fa-thumbs-up" aria-hidden="true"></i> Approve</button>
        </div>
        {{/if}}             
        {{/unless}}

    </div>
    {{/if}}
{{/each}}

<small class="inner">
    {{#if showingAll}}
        <a {{action "showAll" false}}>Show Less</a>
    {{else}}
        {{#if (greater-than sprints.length count)}}
            <a {{action "showAll" true}}>Show More Ideas ( {{sprints.length}} Total )</a>
        {{/if}}
    {{/if}}
</small>
