<div class="col-sm-12 col-md-12 text-center mt-3">
    <h1><i class="fa fa-map-o" aria-hidden="true"></i> Roadmap</h1>
    <h3 class="about section">Propose an idea for a project that commands the attention of a hiring manager</h3>
</div>

<div class="col-sm-12 col-md-3">
    <div class="list-group-item rounded mb-0 mt-3">
        <h3><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> How it Works</h3>
        <h4 class="line">
            Based on a job listing, pitch a creative new feature, bug fix, or task for a Wired7 project that <strong>uses all of the skills required</strong> by the position
        </h4>
        <h4 class="line">
            Companies select the best pitch for a job listing and <strong>prioritize the idea</strong> for requirements design, design, and development
        </h4>
        <h4 class="line">
            Once a company moves forward with an idea, propose solutions and review the work of others to <strong>demonstrate that you're the best</strong> person for the job
        </h4>
    </div>
</div>
{{#each jobs as |job|}}
    <div class="col-sm-12 col-md-3">
        <div class="list-group-item rounded mb-0 mt-3">
            <h4 class="line">
                <strong class="text-capitalize">{{job.team_name}}</strong> is looking for a <a href=job.link target="_blank">{{job.title}}</a>
            </h4>
            <small class="line text-muted">
                Posted {{moment-from-now job.created_at}}
            </small>
        </div>
        <div class="line connected">
        {{#each job.sprints as |sprint|}}
            <div class="inner">
                <div class="line">
                    <div class="icon">{{stacked-icon value="fa-lightbulb-o" icon="fa-circle" size="1" class="d-inline"}}</div>
                    {{#link-to "develop.project.sprint" sprint.project_id sprint.id}}{{sprint.title}}{{/link-to}}
                </div>
                <div class="line">{{sprint.description}}</div>
                <small class="line text-muted">Proposed {{moment-from-now sprint.created_at}}</small>
            </div>
        {{/each}}
        <div class="inner">
            <div class="line">
                <div class="icon">{{stacked-icon value="fa-question" icon="fa-circle" size="1" class="d-inline"}}</div>
                    {{develop-timeline-create projects=projects class=""}}
                </div>
            </div>
        </div>
    </div>
{{/each}}
