<div class="list-group-item rounded mb-0 mt-3">
    <h4 class="line">
        {{job.team_name}} at <strong class="text-capitalize">{{job.company}}</strong> is looking for a <a href="{{job.link}}" target="_blank">{{job.title}}</a>
    </h4>
    <small class="line text-muted">
        Posted {{moment-from-now job.created_at}}
    </small>
    
    <div class="cursor-pointer mr-1 d-inline-block rounded mt-0" {{action "displayInvite"}}><i class="fa fa-envelope" aria-hidden="true"></i> {{#if showInvite}}Hide Invite{{else}}Invite User to Compete{{/if}}</div>
    {{#if showInvite}}
        {{user-team-share-invite teams=teams job=job showInvite=showInvite inviteSent=inviteSent refresh="refresh" class="col-sm-12"}}
    {{/if}}
</div>
<div class="line connected">
    {{roadmap-list-sprints sprints=job.sprints teams=teams job=job}}
    <div class="inner">
        <div class="line">
            {{#if job.sprint_id}}
                {{#each job.sprints as |sprint|}}
                    {{#if (eq job.sprint_id sprint.id)}}
                        <div class="icon">{{stacked-icon value="fa-asterisk" icon="fa-circle" size="1" class="d-inline"}}</div>
                        Contribute to {{#link-to "develop.project.sprint" sprint.project_id sprint.id}}{{sprint.title}}{{/link-to}} to compete for the position
                    {{/if}} 
                {{/each}}
            {{else}}
                <div class="icon">{{stacked-icon value="fa-question" icon="fa-circle" size="1" class="d-inline"}}</div>
                {{develop-timeline-create projects=projects job_id=job.id for_job=true refresh="refresh" class=""}}
            {{/if}}
        </div>
    </div>
</div>


