<div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
{{#if (or (eq selected-state.state_id.name "idea") (eq selected-state.state_id.name "closed"))}}
        <div class="overview">
            <div class="text-left">
                {{#if (eq selected-state.state_id.name "closed")}}
                    <h3>All done here!</h3>
                {{else}}
                <div class="text-left pl-0 col-md-6 col-sm-12">
                {{sprint-state-idea-comments sprint_state=selected-state comments=selected-state.comments}}
                {{#if session.isAuthenticated}}
                {{sprint-state-idea-comment text="Thoughts on this idea?" show_vote=true sprint_state=selected-state project=project.id class="mb-3 comments" refresh="refresh"}}
                {{else}}
                <div class="about text-left section mb-1">
                    {{#link-to "login"}}Sign in {{/link-to}} to join the conversation 
                </div>
                {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
{{else}}

{{#if selected-state.state_id.contributors}}
        <div class="overview">
            {{#if (or (eq selected-state.id last-state.id) (and (and selected-state.active_contribution_id (eq last-state.pull_request null)) (eq selected-state.id second-to-last-state.id) ))}}
                {{#if (eq last-state.state_id.name "closed")}}
                    <div class="text-left">
                        <h3>This sprint has been completed</h3>
                    </div>
                {{else}}
                    <div class="text-left">
                        {{#if session.isAuthenticated}}
                            {{#unless selected-state.active_contribution_id}}
                               {{#if (eq selected-state.review true)}}
                               <h3><span class="text-capitalize">{{sessionAccount.account.first_name}}</span>, this sprint state is no longer open for contribute.</h3>
                               {{else}}
                                <h3><span class="text-capitalize">{{sessionAccount.account.first_name}}</span>, want to propose a solution?</h3>
                                <h4>{{selected-state.state_id.instruction}}</h4>
                                {{/if}}
                            {{/unless}}

                            {{#unless sessionAccount.account.github}}
                                {{user-login-oauth text=" to participate" provider="github"}}
                            {{else}}
                                {{#if selected-state.active_contribution_id}}
                                    {{#if (eq selected-state.review true)}}
                                        {{#each selected-state.contributors as |contributor index|}}
                                              {{#if (eq contributor.id selected-state.active_contribution_id)}}
                                              <h4 class="mb-4">This is your chance to review (through comments) proposals for this phase.</h4>
                                              <h3 class="description section text-capitalize underline mb-2 mt-1 col-md-6 col-sm-12">
                                              Yours proposal {{contributor.id}}
                                              </h3>
                                              <div class="about section mb-1">
                                              <i class="fa fa-tag fa-fw mr-0" aria-hidden="true"></i> 
                                              Branch {{last-contributor-state.id}}_{{contributor.id}} 
                                              (<a target="_blank" href="https://github.com/{{org}}/{{project.name}}_{{project.id}}/compare/{{last-contributor-state.sha}}...{{last-contributor-state.id}}_{{contributor.id}}">
                                              <i class="fa fa-window-restore" aria-hidden="true"></i> View on Github </a>)
                                              </div>
                                              <div class="text-left pl-0 col-md-6 col-sm-12">
                                              {{develop-issue-comments contributor=contributor comments=contributor.comments sprint_state=last-contributor-state}}
                                              {{develop-issue-comment text="Your feedback" review=true  contributor=contributor sprint_state=last-contributor-state project=project.id class="mb-3 comments" refresh="refresh"}}
                                              </div>
                                              <h4 class="about section mb-3">Please, review next solutions:</h4>
                                              {{#each (contributors-to-review selected-state.contributors index) as |commit|}}
                                              {{#unless (eq commit.id selected-state.active_contribution_id)}}
                                              <h3 class="description section text-capitalize underline mb-2 mt-1 col-md-6 col-sm-12">
                                              Proposal {{commit.id}}
                                              </h3>
                                              <div class="about section mb-1">
                                              <i class="fa fa-tag fa-fw mr-0" aria-hidden="true"></i> 
                                              Branch {{last-contributor-state.id}}_{{commit.id}} 
                                              (<a target="_blank" href="https://github.com/{{org}}/{{project.name}}_{{project.id}}/compare/{{last-contributor-state.sha}}...{{last-contributor-state.id}}_{{commit.id}}">
                                              <i class="fa fa-window-restore" aria-hidden="true"></i> View on Github </a>)
                                              </div>
                                              <div class="text-left pl-0 col-md-6 col-sm-12">
                                              {{develop-issue-comments contributor=commit comments=commit.comments sprint_state=last-contributor-state}}
                                              {{develop-issue-comment text="Your feedback" review=true contributor=commit sprint_state=last-contributor-state project=project.id class="mb-3 comments" refresh="refresh"}}
                                              </div>
                                              {{/unless}}
                                              {{/each}}
                                            {{/if}}
                                          {{/each}}
                                    {{else}}

                                    {{#each selected-state.contributors as |contributor|}}
                                        {{#if (eq contributor.id selected-state.active_contribution_id)}}
                                            {{develop-contribute open=(eq selected-state.id last-state.id) contributor=contributor sprint_state=selected-state project=project sprint=sprint class="hidden-md-up text-left"}}
                                            {{develop-contribute open=(eq selected-state.id last-state.id) contributor=contributor sprint_state=selected-state project=project sprint=sprint class="hidden-sm-down text-center"}}
                                            <div class="text-left mt-3">
                                                <h3 class="description section text-capitalize underline mb-2 mt-1">
                                                    Explain Your Work
                                                </h3>
                                                <div class="description section">What approaches were you considering?  Are you satisfied with your solution?  How did you test?</div>
                                                <small>{{stacked-icon value="fa-asterisk" icon="fa-circle" size="1" class="d-inline"}} This is a submission <strong><u>requirement</u></strong></small>
                                                <div class="text-left pl-0 col-md-6 col-sm-12 mt-2">
                                                    {{develop-issue-comments comments=contributor.comments}}
                                                    {{develop-issue-comment text="Explain your work" contributor=contributor sprint_state=selected-state project=project.id class="mb-3 comments" explain=true refresh="refresh"}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}

                                    {{/if}}
                                {{else}}
                                    {{#unless (eq selected-state.review true)}}
                                    <button class="btn btn-info rounded mt-2" {{action "join" project.id selected-state.id }}>Join</button>
                                    {{/unless}}
                                {{/if}}
                            {{/unless}}
                        {{else}}
                            <h3>{{#link-to "login"}}Sign in{{/link-to}} to propose a solution</h3>
                        {{/if}}
                    </div>
                {{/if}}
            
            {{else}}
                <div class="text-left">
                    <h3>This sprint state is no longer open</h3>
                </div>
            {{/if}}
        </div>
{{else}}
{{#if last-contributor-state.contributors.length}}
<div class="overview text-left">

    <h4 class="mb-4">{{selected-state.state_id.instruction}}</h4>
    <h4 class="about section mb-3">
        Solution Proposals 
    </h4>
        <div class="mb-4">
        {{#each last-contributor-state.contributors as |contributor index|}}

            <h3 class="description section text-capitalize underline mb-2 mt-1 col-md-6 col-sm-12">
                Proposal {{contributor.id}}
            </h3>

            <div class="about section mb-1">
                {{#if (eq contributor.id last-contributor-state.contributor_id)}}
                    {{stacked-icon value="fa-trophy" icon="fa-certificate" size="1" class="d-inline"}}
                    {{#if last-contributor-state.merged}}
                        <span class="badge badge-default rounded mr-1">MERGED</span>
                    {{else}}
                        <span class="badge badge-default rounded mr-1">NOT MERGED</span>
                    {{/if}}
                {{/if}}

                <i class="fa fa-tag fa-fw mr-0" aria-hidden="true"></i> 
                    Branch {{last-contributor-state.id}}_{{contributor.id}} 
                    (<a target="_blank" href="https://github.com/{{org}}/{{project.name}}_{{project.id}}/compare/{{last-contributor-state.sha}}...{{last-contributor-state.id}}_{{contributor.id}}">
                    <i class="fa fa-window-restore" aria-hidden="true"></i> View on Github
                    </a>)
            </div>




            <div class="text-left pl-0 col-md-6 col-sm-12">
            {{develop-issue-comments contributor=contributor comments=contributor.comments sprint_state=last-contributor-state}}

            {{#if session.isAuthenticated}}
                {{develop-issue-comment text="Your feedback" show_vote=true contributor=contributor sprint_state=last-contributor-state project=project.id class="mb-3 comments" refresh="refresh"}}
            {{else}}
                <div class="about text-left section mb-1">
                    {{#link-to "login"}}Sign in {{/link-to}} to join the conversation 
                </div>
            {{/if}}
            </div>
        {{/each}}
        </div>
</div>
{{else}}


        <div class="overview">
            <div class="text-left">
                <h3>No proposals submitted</h3>
            </div>
        </div>


{{/if}}
{{/if}}

{{/if}}
</div>
