<div class="footprint hidden-sm-down"><span class="text-capitalize">{{showing-state.state_id.name}} Phase </span>of<span class="text-capitalize"> Sprint {{sprint.id}}</span> for {{#link-to "develop.project" (concat project.id "-" project.org "-" project.name) }}<span class="text-uppercase">{{project.org}}/{{project.name}}</span>{{/link-to}}</div>
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">{{sprint.title}}</h1>
            <div class="description">{{sprint.description}}</div>
            <div class="about text-capitalize">{{showing-state.state_id.description}}</div>
            {{sprint-state-overview-skillsets skillsets=skillsets sprint_id=sprint.id class="skillsets"}}
            <div class="row mb-3">
                {{#unless (eq showing-state.state_id.name "idea")}}
                {{#if contributors}}
                <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                    {{sprint-state-overview-score total=selected-state.contributors.length title="contributors"}}
                </div>
                {{else}}
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=selected-state.contributors.length title="contributors"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=(sum-feedback selected-state.contributors "comments") title="comments"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=(sum-feedback selected-state.contributors "votes") title="votes"}}
                </div>
                {{/if}}

                {{/unless}}
            </div>
            <div class="row">

                {{#if mergedStates}}
                    <a class="btn btn-secondary rounded col-sm-12 col-md-8 mt-2 offset-md-2" target="_blank" href="https://github.com/{{project.org}}/{{project.name}}/blob/master/requirements/Requirements-Document-for-Wired7-Sprint-v{{sprint.id}}.md">Sprint Requirements</a>
                {{/if}}

                {{develop-issue-transition refresh="refresh" sprint=sprint states=states class="mt-2 col-sm-12 col-md-8 offset-md-2 pl-0 pr-0"}}

            </div>
        </div>
    </div>
</div>
