{{#if selected-state.state.contributors}}
    accept contributors |
    {{#if (eq selected-state.id last-state.id)}}
        last state | 
        {{#if (eq last-state.name "closed")}}
            closed |
        {{else}}
            not closed |
            <div class="overview">
                <div class="text-center">
                    {{#unless last-state.active_contribution_id}}
                        <h3><span class="text-capitalize">{{sessionAccount.account.name}}</span>, want to propose a solution?</h3>
                    {{/unless}}
                    <h4>{{selected-state.state.instruction}}</h4>

                    {{#unless sessionAccount.account.github}}
                        {{user-login-github text=" to participate"}}
                    {{else}}
                        {{#if last-state.active_contribution_id}}
                            {{#each last-state.contributors as |contributor|}}
                                {{#if (eq contributor.id last-state.active_contribution_id)}}
                                    {{develop-contribute contributor=contributor sprint_state=last-state project=project sprint=model.sprint}}
                                {{/if}}
                            {{/each}}
                        {{else}}
                        <button class="btn btn-outline-secondary rounded" {{action "join" project.id last-state.id }}>Join</button>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
        {{/if}}
    {{else}}
        Review State, {{last-contributor-state.contributors.length}} contributors |
        <div class="overview">
            <div class="text-center">
                <h3>This sprint state is no longer open</h3>
            </div>
        </div>
    {{/if}}

{{else}}
    Show comments / votes |
    {{#each last-contributor-state.contributors as |contributor|}}
        {{develop-issue-comments comments=contributor.comments}}
        {{develop-issue-comment contributor=contributor sprint_state=last-contributor-state project=project.id class="mb-3 comments"}}
    {{/each}}
{{/if}}
