<div class="col-md-11 col-sm-12 offset-md-1 offset-sm-0">
    <div class="overview row text-left">
        <div class="col-md-6 col-sm-12">
            <h2 class="name text-capitalize">{{sprint.title}}</h2>
            <div class="description">{{sprint.description}}</div>
            <div class="about mb-0"><strong><span class="text-capitalize">{{showing-state.state_id.name}} Phase </span></strong>of sprint ({{showing-state.state_id.description}})</div>
            <div class="about mb-0"><strong>Project</strong> {{#link-to "develop.project" (concat project.id "-" project.org "-" project.name) }}<span class="text-uppercase">{{project.org}}/{{project.name}}</span>{{/link-to}}</div>
            {{#if job.id}}
                <div class="about">
                    Proposed for {{#link-to "develop.roadmap.job" (concat job.id "-" job.title "-at-" job.team_name)}}{{job.title}}{{/link-to}} at <strong>{{job.company}}</strong>
                </div>
            {{/if}}
		    {{#if mergedStates}}
                <a class="btn btn-info rounded btn-sm mt-2" target="_blank" href="https://github.com/{{org}}/{{project.name}}_{{project.id}}/blob/master/requirements/Requirements-Document-for-Wired7-Sprint-v{{sprint.id}}.md">Sprint Requirements</a>
            {{/if}}
            {{develop-issue-transition refresh="refresh" sprint=sprint states=states class="mt-2"}}
            {{sprint-state-overview-skillsets skillsets=skillsets sprint_id=sprint.id class="skillsets mt-2"}}
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="vertical-align-hold">
                <div class="vertical-align-cell">
                <div class="row text-center">
                    {{#unless (or (eq showing-state.state_id.name "idea") (eq showing-state.state_id.name "closed"))}}
                    {{#if contributors}}
                    <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                        {{sprint-state-overview-score total=selected-state.contributors.length title="contributors"}}
                    </div>
                    {{else}}
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=selected-state.contributors.length title="contributors"}}
                    </div>
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=(sum-feedback selected-state.contributors "comments") title="comments"}}
                    </div>
                    <div class="col-md-4 col-sm-4 col-4">
                        {{sprint-state-overview-score total=(sum-feedback selected-state.contributors "votes") title="votes"}}
                    </div>
                    {{/if}}
                    {{/unless}}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
