{{application-error error=errorMessage class="mt-2"}}

{{textarea value=comment class="form-control input-lg rounded mt-2 mb-2" rows="1" placeholder=text}}
<button class="btn btn-info btn-sm d-inline-block mr-1 rounded" {{action "comment" nil sprint_state.id}}><i class="fa fa-comment" aria-hidden="true"></i> Post Comment</button>
{{#if show_vote}}
<button class="btn btn-info btn-sm d-inline-block mr-1 rounded" {{action "vote" nil sprint_state.id}}><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like {{#if votes_count.length}}({{votes_count.length}}){{/if}}</button>
{{/if}}

