{{#each skillsets as |skillset|}}
{{#if sessionAccount.account.admin}}
{{#if skillset.active}}
<span {{action "updateSkillset" skillset.id sprint_id false}} class="badge badge-default rounded selected cursor-pointer">{{skillset.name}}</span>
{{else}}
<span {{action "updateSkillset" skillset.id sprint_id true}} class="badge badge-default rounded unselected cursor-pointer">{{skillset.name}}</span>
{{/if}}
{{else}}
<span class="badge badge-default rounded selected">{{skillset.name}}</span>
{{/if}}
{{/each}}
