<ul class="nav nav-pills flex-column timeline">
    <li class="logo"></li>

    {{#if session.isAuthenticated}}
        {{#link-to "me" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize shadow" }}
        <div class="hidden-md-up">
            Profile
        </div>
        <div class="icon hidden-sm-down">
            {{#if has_tooltips}}
            {{tooltip-on-component text="My Profile" class="tooltip rounded" side="right" enableLazyRendering=true}}
            {{/if}}
            <i class="fa fa-fw fa-2x fa-user"></i>
        </div>
        {{/link-to}}
    {{else}}
        {{#link-to "login" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize shadow"}}
            <div class="hidden-md-up">
                Sign In
            </div>
            <div class="icon hidden-sm-down">
                {{#if has_tooltips}}
                {{tooltip-on-component text="Sign In" class="tooltip rounded" side="right" enableLazyRendering=true}}
                {{/if}}
                <i class="fa fa-fw fa-2x fa-sign-in"></i>
            </div>
        {{/link-to}}
    {{/if}}

    {{#each sprint_states as |sprint_state|}}
    {{#link-to "develop.project.sprint.state" (concat sprint_state.id "-" sprint_state.state_id.name) tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize shadow"}}
    <div class="hidden-md-up">
        {{sprint_state.state_id.name}}
    </div>
    <div class="icon hidden-sm-down">
        {{#if has_tooltips}}
        {{tooltip-on-component text=sprint_state.state_id.name class="tooltip rounded" side="right" enableLazyRendering=true}}
        {{/if}}
        <i class="fa fa-fw fa-2x {{sprint_state.state_id.fa_icon}}"></i>
    </div>
    {{/link-to}}
    {{/each}}
</ul>

