{{#if comments}}
<div class="list-group rounded text-left">
{{#each (limited sortedComments count) as |comment|}}
    <div class="list-group-item rounded">
        <div class="line">{{comment.text}}</div>
        <small class="text-muted">
        {{#if (eq comment.user_id sessionAccount.account.id)}}you {{/if}}
            posted {{moment-from-now comment.created_at}}
            {{#unless (eq comment.user_id sessionAccount.account.id)}}
             by {{#link-to "profile" comment.user_id}}{{user-profile-descriptor with_a=true user_profile=comment.user_profile class="d-inline"}}{{/link-to}}
            {{/unless}}
        </small>
        {{#if session.isAuthenticated}}
        {{sprint-state-idea-comments-upvote sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{sprint-state-idea-report-offensive user_id=sessionAccount.account.id sprint_state=sprint_state comment_id=comment.id class="ml-2"}}
        {{/if}}
    </div>
{{/each}}
</div>

<small class="more">
    {{#if showingAll}}
    <a {{action "showAll" false}}>Show Less</a>
    {{else}}
    {{#if (greater-than comments.length count)}}
    <a {{action "showAll" true}}>Show More Comments ( {{comments.length}} Total )</a>
    {{/if}}
    {{/if}}
</small>

{{/if}}
