<div class="footprint">{{sprint.project.org}}/{{sprint.project.name}} >> {{sprint.id}} >> Design Review</div>
<div class="overview text-center">
<h1 class="text-capitalize">{{sprint.title}}</h1>
<div class="description">{{sprint.description}}</div>
</div>
