<ul class="nav nav-pills flex-column timeline">
    <li class="logo"></li>

        {{#if session.isAuthenticated}}
            {{#link-to "me" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
                <div class="hidden-sm-down">
                    {{#if has_tooltips}}
                    {{tooltip-on-component text="My Profile" class="tooltip rounded" side="right" enableLazyRendering=true}}
                    <i class="fa fa-fw fa-2x fa-user"></i>
                    {{/if}}
                </div>
                <div class="hidden-md-up">Profile</div>
            {{/link-to}}
        {{else}}
            {{#link-to "login" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize"}}
                <div class="hidden-sm-down">
                    {{#if has_tooltips}}
                    {{tooltip-on-component text="Sign In" class="tooltip rounded" side="right" enableLazyRendering=true}}
                    {{/if}}
                    <i class="fa fa-fw fa-2x fa-sign-in" aria-hidden="true"></i>
                </div>
                <div class="hidden-md-up">Sign In</div>
            {{/link-to}}
        {{/if}}
        

    {{#link-to "develop.project.state" "all" tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }} 
        <div class="icon hidden-sm-down">
            {{#if has_tooltips}}
            {{tooltip-on-component text="All" class="tooltip rounded" side="right" enableLazyRendering=true}}
            {{/if}}
            <i class="fa fa-fw fa-2x fa-circle-o"></i>
        </div>
        <div class="hidden-md-up">All</div>
    {{/link-to}}
    {{#each states as |state|}}
    {{#link-to "develop.project.state" (concat state.id "-" state.name) tagName='li' href=false class="cursor-pointer nav-item text-center text-capitalize" }}
    <div class="icon hidden-sm-down">
        {{#if has_tooltips}}
        {{tooltip-on-component text=state.name class="tooltip rounded" side="right" enableLazyRendering=true}}
        {{/if}}
        <i class="fa fa-fw fa-2x {{state.fa_icon}}"></i>
    </div>
    <div class="hidden-md-up">{{state.name}}</div>
    {{/link-to}}
    {{/each}}


</ul>

