<div class="row vertical-align">
    <div class="col-md-6 col-sm-12">
        <h3 class="name text-capitalize">{{team.name}} @ {{team.company}}</h3>
        <div class="about">Created {{moment-from-now team.created_at}} by <span class="text-capitalize">{{#link-to "profile" team.user.id}}{{team.user.first_name}}{{/link-to}}</span> ({{team.user.email}})</div>
        {{#if team.show}}
        <!-- <h3 class="about">{{title}} {{text}}</h3> -->
        {{/if}}
    </div>
    <div class="col-md-6 col-sm-12">
    </div>
</div>
