{{#if jobs}}
<h3>{{jobs.length}} Job Listings</h3>
{{#each jobs as |job|}}
    <div class="list-group-item rounded"> 
        <h4 class="line">
            {{stacked-icon value=job.role.fa_icon icon="fa-circle" size="1" class="d-inline"}}
            {{#link-to "develop.roadmap.job" (concat job.id "-" job.title "-for-" team.name "-at-" team.company )}}{{job.title}}{{/link-to}} (<a class="text-lowercase" target="_blank" href={{job.link}}>{{job.link}}</a>)
        </h4>
        {{profile-overview-skillsets-roles items=job.roles type="role" namespace="" class="skillsets"}}
        <small class="line text-muted">
            Created by {{#link-to "profile" job.user_id}}{{job.user_first_name}}{{/link-to}} {{moment-from-now job.created_at}}    
        </small>
    </div>
{{/each}}
{{else}}
<div class="overview bg-nav rounded p-3 mb-2">
    <div class="text-left">
        <h3>No job listings</h3>
    </div>
</div>
{{/if}}
