<h3>Create a Job Listing for {{team.company}}</h3>
<div class="about section">Users pitch features or improvements to projects that allow them to demonstrate the skills in the job listing.  We'll invite all interested users to compete and show their skills for ideas that you approve.</div>

<form {{action 'create' team.id on="submit"}} class="mt-1">
    <div class="form-group">
        {{application-error error=errorMessage}}
        <label>Title</label>
        {{input type="text" value=title placeholder="Lead Backend Engineer" class="form-control input-lg rounded"}}
        
        <label>Link</label>
        {{input type="text" value=link placeholder="https://example.com/job-listing" class="form-control input-lg rounded"}}

        <label>Zip Code</label>
        {{input type="text" value=zip placeholder="94105" class="form-control unset-width input-lg rounded" size=5 maxlength=6}}

        <label>Target User Function</label>
        <div class="form-group mb-3">
            <div class="btn-group" data-toggle="buttons">
                {{#each roles as |role|}}
                    {{#unless role.description}}
                        {{#if (eq role_id role.id)}}
                            <label class="btn btn-secondary btn-sm cursor-pointer active rounded ml-0" {{action "role" role.id}} ><i class="fa fa-fw fa-1x {{role.fa_icon}}"></i> {{role.name}}</label>
                        {{else}}
                            <label class="btn btn-secondary bright btn-sm cursor-pointer rounded ml-0" {{action "role" role.id}} ><i class="fa fa-fw fa-1x {{role.fa_icon}}"></i> {{role.name}}</label>
                        {{/if}}
                    {{/unless}}
                {{/each}}
            </div>
        </div>

        <button type="submit" class="btn btn-info rounded d-inline">{{#if successMessage}}<i class="fa fa-fw fa-thumbs-up"></i> Created{{else}}Create{{/if}}</button>
    </div>
</form>

