{{#if (eq request.confirmed "1")}}
    <span class="text-capitalize">{{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}</span> is interested in contacting talent <span class="text-capitalize">{{#link-to "profile" request.contact_id}}{{request.contact_first_name}}{{/link-to}}</span> from your team. Would you like to share talent's contact information?
    <span {{action "confirmTeamConnectionRequests" request.id 2 request.team_id}} class="badge badge-info rounded cursor-pointer">Share</span>
    <span {{action "confirmTeamConnectionRequests" request.id 3 request.team_id}} class="badge badge-warning rounded cursor-pointer">Reject</span>
{{else if (eq request.confirmed "2")}}
    You are sharing talent's <span class="text-capitalize">{{#link-to "profile" request.contact_id}}{{request.contact_first_name}}{{/link-to}}</span> contact information with <span class="text-capitalize">{{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}</span>
    <span {{action "confirmTeamConnectionRequests" request.id 3 request.team_id}} class="badge badge-warning rounded cursor-pointer">Cancel</span>
{{else if (eq request.confirmed "3")}}
    You are not sharing contact information with <span class="text-capitalize">{{#link-to "profile" request.user_profile.id}}{{request.first_name}} {{#if request.user_profile.title}}({{user-profile-descriptor user_profile=request.user_profile class="d-inline"}}){{/if}}{{/link-to}}</span>
    <span {{action "confirmTeamConnectionRequests" request.id 2 request.team_id}} class="badge badge-info rounded cursor-pointer">Share</span>
{{/if}}