{{#if connections}}
    <h3>{{connections.length}} Contacts</h3>
    <div class="list-group rounded text-left">
        {{#each connections as |connection|}}
        <div class="list-group-item rounded">
            <p class="line">
                {{#if (eq connection.seat_id 4)}}
                You are sharing talent's <span class="text-capitalize">{{#link-to "profile" connection.contact_id}}{{connection.contact_first_name}}{{/link-to}}</span> contact information with <span class="text-capitalize">{{#link-to "profile" connection.user_profile.id}}{{connection.first_name}} {{#if connection.user_profile.title}}({{user-profile-descriptor user_profile=connection.user_profile class="d-inline"}}){{/if}}{{/link-to}}</span>
                {{else if (eq connection.seat_id 5)}}
                People are interested in contacting talent <span class="text-capitalize">{{#link-to "profile" connection.contact_id}}{{connection.contact_first_name}}{{/link-to}}</span> from your team
                {{/if}}
            </p>
        </div>
        {{/each}}
    </div>

{{else}}
<div class="overview bg-nav rounded p-3 mb-2">
    <div class="text-left">
        <h3>No contacts</h3>
    </div>
</div>
{{/if}}
