<div class="footprint hidden-sm-down">created {{moment-from-now team.created_at}} by <span class="text-capitalize">{{#link-to "profile" team.user.id}}{{team.user.first_name}}{{/link-to}}</span> ({{team.user.email}})</div>
<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-center">
            <h1 class="name text-capitalize">{{team.name}}</h1>
                <h3 class="about">This team is sharing leads with you</h3>
                <div class="row">
                    <div class="col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-4 offset-4">
                        {{sprint-state-overview-score total=shares.length title="Leads"}}
                    </div>
                </div>
        </div>
    </div>
</div>
