<div class="vertical-align-hold">
    <div class="vertical-align-cell">
        <div class="overview text-left">
        {{#unless user.title}}
            <h3 class="description mb-5 text-center">Sign in to LinkedIn so that we can <strong>verify your identity</strong> and share anonymous background information with other users</h3>
            <h3 class="description text-center">{{user-login-oauth provider="linkedin" refresh="refresh" lg=true}}</h3>
        {{else}}
            <h3 class="about text-center mb-5">{{user-profile-descriptor user_profile=user multiple_lines=true disable_you=true}}</h3>
            <h3 class="description text-center">Looks good! This is what other users will know about you. All other personal identifying information is kept <strong>private</strong>.</h3>


            {{#unless (eq sessionAccount.account.seat_id.name "share")}}
                {{#if (or (greater-than manager.length 0) (greater-than recruiter.length 0))}}
                    {{#if (eq sessionAccount.account.seat_id.name "member")}}
                        {{#if (and (greater-than manager.length 0) (greater-than managerTeams.length 0))}}
                            {{#each managerTeams as |team index|}}
                                {{#if (eq index 0)}}
                                    <h3 class="description text-center">List jobs for {{#link-to "team.select.jobs" team.id}}{{team.name}}{{/link-to}} at {{team.company}} to get started</h3>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            {{#each teams as |team index|}}
                                {{#if (eq index 0)}}
                                    <h3 class="description text-center">Invite candidates through the {{#link-to "team.select.talent" team.id}}{{team.name}}{{/link-to}} team at {{team.company}} to get started</h3>
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{else}}
                        <h3 class="description mt-3 text-center">{{#link-to "team.new"}}create a team{{/link-to}} to get started</h3>
                    {{/if}}
                {{else}}
                    <h3 class="description text-center">Check out {{#link-to "develop.roadmap"}}the roadmap{{/link-to}} to find open positions</h3>
                {{/if}}
            {{else}}
                {{#each teams as |team index|}}
                    {{#if (eq index 0)}}
                        <h3 class="description text-center">Check out {{#link-to "team.select.leads" team.id}}leads{{/link-to}} the {{team.name}} team at {{team.company}} has generated for you to get started</h3>
                    {{/if}}
                {{/each}}
            {{/unless}}

            <h3 class="description text-center mt-4">
                {{#link-to "welcome"}}Back{{/link-to}} | {{#link-to "me.overview"}}My Profile{{/link-to}}
            </h3>
        {{/unless}}
        </div>
    </div>
</div>
