{{#unless as_text}}
    {{#unless lg}}
        <a {{action 'login' provider}} class="btn btn-info rounded btn-sm"><i class="fa fa-{{provider}}" aria-hidden="true"></i> Sign In With {{provider}} {{text}}</a>
    {{else}}
        <a {{action 'login' provider}} class="btn btn-info rounded btn"><i class="fa fa-{{provider}}" aria-hidden="true"></i> Sign In With {{provider}} {{text}}</a>
    {{/unless}}
{{else}}
    <a href="#" {{action 'login' provider}}> {{text}}</a>
{{/unless}}
