<form class="login-form text-center" {{action 'register' on="submit"}}>

    {{input value=name placeholder="First Name" class="form-control input-lg margin-bottom-sm"}}

    {{input value=email placeholder="Email" class="form-control input-lg margin-bottom-sm"}}

    <div class="btn-group text-left" data-toggle="buttons">
        <label class="btn btn-primary">
            {{input type="checkbox" class="checkbox" name="pm"}} Product Manager
        </label>
        <label class="btn btn-primary">
            {{input type="checkbox" class="checkbox" name="quality"}} Quality Engineer/Analyst
        </label>
        <label class="btn btn-primary">
            {{input type="checkbox" class="checkbox" name="dev"}} Developer
        </label>
        <label class="btn btn-primary">
            {{input type="checkbox" class="checkbox" name="designer"}} Designer
        </label>
    </div>

    <button type="submit" class="btn btn-info btn-lg">Register</button>

    <h4 class="tos">By registering you agree to our {{link-to 'Terms of Service' 'index'}} and {{link-to 'Privacy Policy' 'index'}}</h4>
</form>
