{{#if (or (eq default_seat.name "sponsored") (eq default_seat.name "priority"))}}
    <h3>Your Talent</h3>
    <div class="about section">Talent that your team is managing.</div>
{{else if (eq default_seat.name "member") }}
    <h3>Your Team Members</h3>
    <div class="about section">Coworkers that that you've shared talent and contacts with.</div>
{{else}}
    <h3 class="text-capitalize">{{default_seat.name}}s</h3>
{{/if}}

    {{#each user_teams as |user|}}
        <div class="list-group-item rounded"> 
            <h4 class="line">
            {{#if user.accepted}}
                <span class="badge badge-info uppercase rounded">Accepted</span>
            {{/if}}
            {{#if user.user_first_name}}
                {{#link-to "profile" user.user_id}}{{user.user_first_name}} {{user.user_last_name}}{{/link-to}} {{#if user.user_email}}({{user.user_email}}){{/if}} {{#if user.user_profile}}-{{/if}} {{user-profile-descriptor user_profile=user.user_profile class="d-inline"}}
            {{else}}
                {{user.user_email}}
            {{/if}}

            </h4>
            {{#if (or user.team_comments (or user.team_votes (or user.team_contributors (or user.team_comments_received (or user.team_votes_received (or user.team_contributors_received))))))}}
            <h4 class="row">
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_comments.count title="comments"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_votes.count title="votes"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_contributors.count title="proposals"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_comments_received.count title="comments received"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_votes_received.count title="votes received"}}
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    {{sprint-state-overview-score total=user.team_contributors_received.count title="winning proposals"}}
                </div>
            </h4>
            {{/if}}
            <small class="line text-muted">Invited by {{#link-to "profile" user.sender_id}}{{user.sender_first_name}}{{/link-to}} {{moment-from-now user.created_at}}{{#if user.accepted}}, accepted {{moment-from-now user.updated_at}}{{/if}}</small>
        </div>
    {{/each}}
