{{#unless as_text}}
    <a {{action 'login' provider}} class="btn btn-secondary rounded"><i class="fa fa-{{provider}}" aria-hidden="true"></i> Sign In With {{provider}} {{text}}</a>
{{else}}
    <a href="#" {{action 'login' provider}}> {{text}}</a>
{{/unless}}
