<div class="modal modal-fixed" id="register-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <div class="title">
                    You've been invited to <span class="orange">{{invitation.name}}</span>!
                </div>
            </div>
            <div class="modal-header subtitle">
                <div class="text-muted">
                    <span class="text-capitalize">{{invitation.sender_first_name}}</span> ({{invitation.sender_email}}) would like for you to join the {{invitation.name}} team.
                </div>
            </div>
            <div class="modal-body">
                <form class="register-form" {{action 'accept' token on="submit"}}>

                    <button type="submit" class="btn btn-secondary rounded btn-block">Accept</button>
                    
                </form>
            </div>
            <div class="modal-foot rounded-bottom text-center text-muted cursor-pointer">{{#link-to "me" class="text-muted"}}Cancel{{/link-to}}</div>
        </div>
    </div>
</div>

