<form class="register-form text-center" {{action 'register' on="submit"}}>

    {{input value=name placeholder="First Name" class="form-control input-lg margin-bottom-sm"}}

    {{input value=email placeholder="Email" class="form-control input-lg margin-bottom-sm"}}

    <div class="btn-group text-left" data-toggle="buttons">
        <label class="btn btn-primary" {{action "role" "product"}} >
            Product
        </label>
            <label class="btn btn-primary" {{action "role" "quality"}} >
                Quality
            </label>
                <label class="btn btn-primary" {{action "role" "development"}} >
                    Development
                </label>
                    <label class="btn btn-primary" {{action "role" "design"}} >
                        Design
                    </label>
    </div>

    <button {{action "register"}} type="submit" class="btn btn-info btn-lg">Register</button>
    <h4 class="tos">By registering you agree to our <br>{{link-to 'Terms of Service' 'index'}} and {{link-to 'Privacy Policy' 'index'}}</h4>
</form>
