<div class="modal show" id="register-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <div class="title">
                   Your invitation from <span class="orange">{{invitation.company}}</span>
                </div>
            </div>
            <div class="modal-header subtitle">
                <div class="text-muted">
                    Would you like to join the <span class="text-capitalize">{{invitation.name}} team</span> at {{invitation.company}}?
                </div>
            </div>
            <div class="modal-body">
                <form class="register-form" {{action 'accept' token on="submit"}}>

                    {{application-error error=errorMessage}}
                    {{#unless errorMessage}}
                    <button type="submit" class="btn btn-info rounded btn-block">Accept</button>
                    {{/unless}}
                </form>
            </div>
            <div class="modal-foot rounded-bottom text-center text-muted cursor-pointer">{{#link-to "me" class="text-muted"}}Cancel{{/link-to}}</div>
        </div>
    </div>
</div>

