<div class="modal" id="register-modal" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded">
            <div class="modal-header">
                <div class="title">
                {{#if invitation}}
                    Join Wired7
                {{else}}
                    Password Reset
                {{/if}}
                </div>
            </div>                                                  
            <div class="modal-header subtitle">
                <div class="text-muted">
                {{#if invitation}}
                    {{invitation.sender}} would like for you to join the {{invitation.name}} team
                {{else}}
                    Reset your Wired7 account password
                {{/if}}
                </div>
            </div>                                                                                              
            <div class="modal-body">
                <form {{action 'reset' on="submit"}} class="register-form">
                    <div class="text-center">
                        {{#if errorMessage}}<div class="alert alert-warning">{{errorMessage}}</div>{{/if}}
                        {{input type="password" value=password placeholder="Password" class="form-control input-lg rounded"}}
                        {{input type="password" value=passwordb placeholder="Confirm Password" class="form-control input-lg rounded"}}

                        <button type="submit" class="btn btn-info btn-lg rounded">Save</button>
                        {{#unless invitation}}
                        <h4 class="tos text-center">Want us to send another email? {{ link-to 'Resend' "forgot" }}</h4>
                        {{/unless}}
                    </div>
                </form>
            </div>     
            <div class="modal-foot rounded-bottom text-center text-muted cursor-pointer">{{#link-to "index" class="text-muted"}}Cancel{{/link-to}}</div>
        </div>                                                                                                                                                              
    </div>
</div>
